In [55]:
#!/usr/bin/env python
# coding: utf-8

# In[1]:


import pandas as pd
import pandas_gbq
from pykrx import stock
from pykrx import bond
import FinanceDataReader as fdr

from time import sleep

import psycopg2 as pg2
from sqlalchemy import create_engine

from datetime import datetime
import os
import time

import glob
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud import storage

# 경로 변경
os.chdir('/home/owenchoi07/finance_mlops')


# 서비스 계정 키 JSON 파일 경로
key_path = glob.glob("key_value/*.json")[0]

# Credentials 객체 생성
credentials = service_account.Credentials.from_service_account_file(key_path)

# 빅쿼리 정보
project_id = 'owen-389015'
dataset_id = 'finance_mlops'


# GCP 클라이언트 객체 생성
storage_client = storage.Client(credentials = credentials, 
                         project = credentials.project_id)
bucket_name = 'finance-mlops'    # 서비스 계정 생성한 bucket 이름 입력

# Postgresql 연결
db_connect_info = pd.read_csv('key_value/db_connect_info.csv')

username = db_connect_info['username'][0]
password = db_connect_info['password'][0]
host = db_connect_info['host'][0]
database = db_connect_info['database'][0]

engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:5432/{database}')

In [10]:
ticker_nm = 'AAPL'
start_date2 = '2017-07-01'
today_date2 = '2023-07-20'

df_raw = fdr.DataReader(ticker_nm, start_date2,today_date2)
df_raw['ticker'] = ticker_nm

In [12]:
df_raw.reset_index()
df_raw.columns = ['Date', 'Open','High','Low','Close','Adj_Close','Volume','ticker']

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'ticker'], dtype='object')

In [16]:
os.getcwd()

'/home/owenchoi07/finance_mlops'

In [18]:
kor_stock_ohlcv = pd.read_csv('./data_crawler/kor_stock_ohlcv.csv')

/tmp/ipykernel_1509791/3324290076.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  kor_stock_ohlcv = pd.read_csv('./data_crawler/kor_stock_ohlcv.csv')

In [19]:
kor_ticker_list = pd.read_csv('./data_crawler/kor_ticker_list.csv')

In [25]:
kor_stock_ohlcv_count = kor_stock_ohlcv[['date','ticker']].groupby(['ticker']).count().reset_index()

In [35]:
kor_stock_ohlcv_count

      ticker  date
0         40  1370
1         70  1370
2         75  1370
3        100  1370
4        105  1370
...      ...   ...
1717  460850    26
1718  460860    26
1719  900140  1370
1720  900260  1370
1721  950210   608

[1722 rows x 2 columns]

In [33]:

kor_stock_ohlcv[kor_stock_ohlcv['ticker'] == '079980']

Empty DataFrame
Columns: [date, open, high, low, close, volume, trading_value, price_change_percentage, ticker]
Index: []

In [26]:

asdf = pd.merge(kor_ticker_list, kor_stock_ohlcv_count,
        on = 'ticker', 
        how = 'left')

In [36]:
asdf[asdf['market'] == 'KOSPI']

     ticker corp_name market    date
0    095570    AJ네트웍스  KOSPI  1370.0
1    006840     AK홀딩스  KOSPI  1370.0
2    027410       BGF  KOSPI  1370.0
3    282330    BGF리테일  KOSPI  1370.0
4    138930   BNK금융지주  KOSPI  1370.0
..      ...       ...    ...     ...
943  079980       휴비스  KOSPI     NaN
944  005010       휴스틸  KOSPI     NaN
945  000540      흥국화재  KOSPI     NaN
946  000545     흥국화재우  KOSPI     NaN
947  003280      흥아해운  KOSPI     NaN

[948 rows x 4 columns]

In [ ]:
fail
097230 


success
234080

In [51]:
start_date = '20180101'
today_date1 = '20230721'
# ticker_nm = '097230'
ticker_nm = '095570'
buy_sell_type = '순매수'

In [57]:
file_name = 'testasdf'

In [52]:
df_raw = stock.get_market_trading_volume_by_date(start_date, today_date1, 
                                                                 ticker_nm, 
                                                                 detail=True,
                                                                 on = buy_sell_type)
df_raw = df_raw.reset_index()
df_raw['ticker'] = ticker_nm
df_raw['type'] = buy_sell_type
df_raw.columns = [
        'date', 
        'financial_investment', 'insurance', 'investment', 'private_equity', 'bank','other_finance', 'pension_fund', # 기관합계 
        'other_corporation', # 기타 법인
        'individual',# 개인
        'foreigner', 'other_foreigner', # 외국인 합계
        'total', 
        'ticker', 'type'
    ]

In [58]:
df_raw.to_gbq(destination_table=f'{project_id}.{dataset_id}.{file_name}',
  project_id=project_id,
  if_exists='append',
  credentials=credentials)

100%|██████████| 1/1 [00:00<00:00, 3435.14it/s]