In [1]:
import pandas as pd
import pandas_gbq
from pykrx import stock
from pykrx import bond
import FinanceDataReader as fdr

from time import sleep

import psycopg2 as pg2
from sqlalchemy import create_engine

from datetime import datetime
import os
import time

import glob
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud import storage

In [30]:
today_date1 = '20230918'
index_code = '1001'
df_raw = stock.get_index_fundamental(today_date1, today_date1, index_code)

In [31]:
df_raw

                 종가   등락률    PER  선행PER   PBR  배당수익률
날짜
2023-09-18  2574.72 -1.02  15.76    0.0  0.94   1.92

In [27]:
df = stock.get_index_price_change("20230919", "20230919", "KOSPI")
df = df.reset_index()
df.head(2)

       지수명       시가       종가       등락률        거래량           거래대금
0      코스피  2574.72  2576.01  0.049988  131286543  2048514498551
1  코스피 200   340.67   341.11  0.130005   23655296  1290707307180

In [20]:
df = stock.get_index_price_change("20230915", "20230915", "KOSPI")
df = df.reset_index()
df.head(2)

       지수명       시가       종가       등락률        거래량            거래대금
0      코스피  2572.89  2601.28  1.099609  441729809  11995227354645
1  코스피 200   341.19   344.98  1.110352  159760232   8612804348490

In [21]:
df = stock.get_index_price_change("20230914", "20230914", "KOSPI")
df = df.reset_index()
df.head(2)

       지수명       시가       종가       등락률        거래량           거래대금
0      코스피  2534.70  2572.89  1.509766  412509123  9577502570729
1  코스피 200   335.99   341.19  1.549805  121376523  7339688488106

In [43]:
df['시가'].tail(1).tolist()

[1335.34]