In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('destination_file_name.csv')

/tmp/ipykernel_3336/363793539.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('destination_file_name.csv')

In [3]:
df

,date,open,high,low,close,volume,price_change_percentage,ticker
0,2018-01-02,6980,6990,6850,6970,60294,0.000000,095570
1,2018-01-03,6970,7000,6910,6920,45848,-0.717360,095570
2,2018-01-04,6990,7100,6920,7070,53176,2.167630,095570
3,2018-01-05,7080,7300,7040,7250,58573,2.545969,095570
4,2018-01-08,7330,7330,7100,7130,47104,-1.655172,095570
...,...,...,...,...,...,...,...,...
3366390,2023-11-30,6220,6330,6210,6330,12703,2.261712,238490
3366391,2023-12-01,6330,6490,6290,6410,31437,1.263823,238490
3366392,2023-12-04,6450,6500,6380,6430,19005,0.312012,238490
3366393,2023-12-05,6480,6480,6250,6360,21136,-1.088647,238490
3366394,2023-12-06,6280,6450,6260,6430,20617,1.100629,238490