##  FinanceDataReader 데이터 수집

In [1]:
import pandas as pd
from time import sleep
import FinanceDataReader as fdr

from datetime import datetime
import os
import time

### S&P 500 종목 리스트

In [2]:
# S&P 500 symbol list
snp500 = fdr.StockListing('S&P500')
snp500.columns = ['ticker', 'corp_name', 'sector', 'industry']
snp500.head()

  ticker    corp_name                  sector                        industry
0    MMM           3M             Industrials        Industrial Conglomerates
1    AOS  A. O. Smith             Industrials               Building Products
2    ABT       Abbott             Health Care           Health Care Equipment
3   ABBV       AbbVie             Health Care                 Pharmaceuticals
4    ACN    Accenture  Information Technology  IT Consulting & Other Services

In [3]:
sp500_ticker_list = snp500['ticker']

In [5]:
# snp500.to_csv('data_crawler/snp500_ticker_list.csv', index = False)

### 날짜 설정

In [5]:
now = datetime.now()
today_date2 = now.strftime('%Y-%m-%d')
start_date2 = '2017-01-01'

### S&P 500 데이터 수집

In [8]:
for ticker_nm in sp500_ticker_list:
    file_name = 'snp500_daily'
    try:
        # Apple(AAPL), 2017-01-01 ~ Now
        df_raw = fdr.DataReader(ticker_nm, start_date2,today_date2)
        df_raw['ticker'] = ticker_nm
        df_raw = df_raw.reset_index()
        
        
        if not os.path.exists(f'data_crawler/{file_name}.csv'):
            df_raw.to_csv(f'data_crawler/{file_name}.csv', index=False, mode='w')
        else:
            df_raw.to_csv(f'data_crawler/{file_name}.csv', index=False, mode='a', header=False)
        
        print(f'{ticker_nm} success')    
    except:
        print(f'{ticker_nm} fail')

MMM success
AOS success
ABT success

In [10]:
df_raw.head()

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2017-01-03,38.630001,39.080002,38.340000,39.049999,34.819305,9677300,ABT
1,2017-01-04,39.060001,39.730000,39.060001,39.360001,35.095726,22644500,ABT
2,2017-01-05,39.240002,39.750000,38.980000,39.700001,35.398884,12080100,ABT
3,2017-01-06,39.700001,40.990002,39.660000,40.779999,36.361877,14628900,ABT
4,2017-01-09,40.790001,41.060001,40.619999,40.740002,36.326210,10992500,ABT

### 비트코인

In [16]:
btc_df = fdr.DataReader('BTC/KRW', start_date2,today_date2)
btc_df = btc_df.reset_index()

In [17]:
btc_df.to_csv(f'data_crawler/btc_df.csv')

In [18]:
btc_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-01,1162412.500,1209403.500,1155893.750,1202971.625,1202971.625,178067406890
1,2017-01-02,1203323.500,1245300.250,1203916.375,1229052.875,1229052.875,267264105027
2,2017-01-03,1228872.375,1259066.500,1235420.875,1258881.375,1258881.375,223314459680
3,2017-01-04,1259556.875,1385054.750,1260194.000,1379382.750,1379382.750,412055225187
4,2017-01-05,1381771.750,1406141.125,1074738.125,1196467.375,1196467.375,602376662775

### 환율 정보

In [19]:
usdkrw = fdr.DataReader('USD/KRW', '1995-01-01', today_date2) # 달러 원화
usdkrw = usdkrw.reset_index()

In [20]:
usdkrw.to_csv(f'data_crawler/usdkrw.csv')

In [23]:
usdkrw.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
5112,2023-07-05,1295.500000,1305.770020,1295.609985,1295.500000,1295.500000,0.0
5113,2023-07-06,1302.969971,1313.800049,1299.560059,1302.969971,1302.969971,0.0
5114,2023-07-07,1309.219971,1310.150024,1295.819946,1309.219971,1309.219971,0.0
5115,2023-07-10,1297.369995,1307.199951,1297.670044,1297.369995,1297.369995,0.0
5116,2023-07-11,1297.780029,1300.880005,1289.640015,1293.719971,1293.719971,0.0