In [2]:
from pykrx import stock
from pykrx import bond
import pandas as pd

type_list = ["금융투자","보험","투신","사모","은행","기타금융","연기금","기관합계","기타법인","개인","외국인","기타외국인","전체"]

total_df = pd.DataFrame()

for type_nm in type_list:
    df = stock.get_market_net_purchases_of_equities("20230102", "20230102", "ALL", type_nm)
    df['type'] = type_nm
    total_df = pd.concat([total_df, df])

    total_df = total_df.reset_index()

ValueError: cannot insert level_0, already exists

In [3]:
stock.get_market_net_purchases_of_equities("20230102", "20230102", "ALL", type_nm)

,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금
티커,,,,,,,
066970,엘앤에프,10982,75359,64377,2042195000,13981126800,11938931800
000270,기아,11254,192959,181705,694949400,11891576500,11196627100
005930,삼성전자,159935,353167,193232,8903818300,19650619000,10746800700
005380,현대차,9063,75865,66802,1437413500,12016989000,10579575500
000660,SK하이닉스,18983,124265,105282,1439098100,9430518700,7991420600
...,...,...,...,...,...,...,...
047810,한국항공우주,122188,7146,-115042,6065585050,356907300,-5708677750
042670,현대두산인프라코어,1016252,169616,-846636,7595561300,1294122070,-6301439230
373220,LG에너지솔루션,21167,4981,-16186,9491365000,2239456500,-7251908500
015760,한국전력,409568,22049,-387519,8115641100,448133150,-7667507950
005490,POSCO홀딩스,31284,0,-31284,8589032000,0,-8589032000