In [2]:
import pandas as pd
from pykrx import stock
from pykrx import bond
from time import sleep

from datetime import datetime
import os
import time

import glob


# 경로 변경
os.chdir('/home/owenchoi07/finance_mlops')

In [17]:
kor_stock_ohlcv = pd.read_csv('data_crawler/kor_stock_ohlcv.csv', dtype = {'ticker':object})
kor_ticker_list = pd.read_csv('data_crawler/kor_ticker_list.csv')

df1 = kor_stock_ohlcv[kor_stock_ohlcv['date'] == '2023-07-21']
df1 = pd.merge(df1, kor_ticker_list, 
        on = 'ticker', 
        how = 'left')

In [ ]:
def asdf(df, rank_count):
    max_value_1 = df1[df1['market'] == 'KOSPI'].sort_values(by ='price_change_percentage', ascending = False).head(rank_count)
    max_value_2 = df1[df1['market'] == 'KOSDAQ'].sort_values(by ='price_change_percentage', ascending = False).head(rank_count)
    min_value_1 = df1[df1['market'] == 'KOSPI'].sort_values(by ='price_change_percentage', ascending = True).head(rank_count)
    min_value_2 = df1[df1['market'] == 'KOSDAQ'].sort_values(by ='price_change_percentage', ascending = True).head(rank_count)
    
    total = pd.concat([max_value_1, max_value_2, 
               min_value_1, min_value_2
              ])
    total = total.reset_index(drop = True)
    return total

In [65]:
df1

,date,open,high,low,close,volume,trading_value,price_change_percentage,ticker,corp_name,market,rank,max_rank,min_rank
0,2023-07-21,4235,4320,4230,4265,68745,293648415,-0.81,095570,AJ네트웍스,KOSPI,329.0,329,329
1,2023-07-21,20700,21000,20550,20800,21241,441862500,0.24,006840,AK홀딩스,KOSPI,659.0,659,652
2,2023-07-21,3715,3740,3640,3665,118062,434211150,-1.35,027410,BGF,KOSPI,209.0,209,209
3,2023-07-21,165400,168200,165000,168200,23677,3956242000,1.69,282330,BGF리테일,KOSPI,846.0,846,845
4,2023-07-21,6670,6700,6620,6690,501443,3346836100,0.30,138930,BNK금융지주,KOSPI,675.0,675,671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,2023-07-21,5340,5340,5300,5310,30353,161455530,-0.19,024060,흥구석유,KOSDAQ,1033.0,1033,1027
2599,2023-07-21,6600,6680,6530,6540,32580,214551620,-2.53,010240,흥국,KOSDAQ,319.0,319,317
2600,2023-07-21,2750,2765,2725,2750,57574,158121360,0.00,189980,흥국에프엔비,KOSDAQ,1185.0,1185,1064
2601,2023-07-21,7760,7950,7650,7750,245638,1915526550,-1.02,037440,희림,KOSDAQ,753.0,753,753
2602,2023-07-21,7270,7270,7050,7080,25214,179539660,-1.12,238490,힘스,KOSDAQ,720.0,720,714

### 주가 등락 하루

In [55]:
df2 = asdf(df1, 5)

In [57]:
df2[df2['market'] == 'KOSDAQ']

,date,open,high,low,close,volume,trading_value,price_change_percentage,ticker,corp_name,market,rank,max_rank,min_rank
5,2023-07-21,3385,7150,3010,3860,100154716,512206106270,93.00,455910,에스케이증권제9호스팩,KOSDAQ,1655.0,1655,1655
6,2023-07-21,10200,12870,10120,12870,3260154,39664501300,30.00,226330,신테카바이오,KOSDAQ,1654.0,1654,1654
7,2023-07-21,850,1086,817,1086,18898109,19434172560,29.90,204840,지엘팜텍,KOSDAQ,1653.0,1653,1653
8,2023-07-21,1622,2145,1530,2145,14951692,29492994350,29.84,084440,유비온,KOSDAQ,1652.0,1652,1652
9,2023-07-21,20900,27050,20850,26050,2886493,72432105050,22.88,039200,오스코텍,KOSDAQ,1651.0,1651,1651
15,2023-07-21,13720,13920,9780,9780,1557558,16557138820,-29.94,080580,오킨스전자,KOSDAQ,1.0,1,1
16,2023-07-21,4610,4760,4405,4450,2074704,9452997095,-17.59,294140,레몬,KOSDAQ,2.0,2,2
17,2023-07-21,17840,19800,15670,15800,594055,10298655330,-13.00,322180,티라유텍,KOSDAQ,3.0,3,3
18,2023-07-21,2570,2605,2240,2240,6328884,15417219195,-12.16,121850,코이즈,KOSDAQ,4.0,4,4
19,2023-07-21,5810,8300,5700,6070,2723695,19192102980,-10.21,224060,더코디,KOSDAQ,5.0,5,5

In [60]:
df2[df2['market'] == 'KOSPI'].pivot(index = 'date', columns = 'corp_name', values = 'price_change_percentage')

corp_name,CJ CGV,HMM,금양,남선알미우,동양우,씨아이테크,아센디오,에이프로젠,에이프로젠바이오로직스,이엔플러스
date,,,,,,,,,,
2023-07-21,11.91,-5.91,12.81,-6.57,-6.29,-8.62,13.7,29.93,16.42,-13.19

### 주가 등락률 일주일

### 주가 등락 한달

### 주가 등락 1년