### chatgpt python 연동

In [7]:
# ### chatgpt python 연동
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import os
from time import sleep
import openai
from datetime import datetime
import os
import time

### apikey csv 저장

In [2]:
# chatgpt_apikey = 'OPENAI API KEY'
# df = pd.DataFrame({
#     'api_key':chatgpt_apikey}, index = [0])
# df.to_csv('chatgpt_apikey.csv', index = False)
os.getcwd()

'/home/owenchoi07/finance_mlops/jupyter'

In [3]:
chatgpt_apikey_df = pd.read_csv('../data_crawler/chatgpt_apikey.csv')
chatgpt_apikey = chatgpt_apikey_df['api_key'][0]

In [4]:
openai.api_key = chatgpt_apikey
model_list = openai.Model.list()

In [5]:
model_list_df = pd.DataFrame(model_list['data'])
model_list_df.head()

,id,object,created,owned_by,permission,root,parent
0,whisper-1,model,1677532384,openai-internal,"[{'id': 'modelperm-KlsZlfft3Gma8pI6A8rTnyjs', ...",whisper-1,None
1,babbage,model,1649358449,openai,"[{'id': 'modelperm-49FUp5v084tBB49tC4z8LPH5', ...",babbage,None
2,text-davinci-003,model,1669599635,openai-internal,"[{'id': 'modelperm-jepinXYt59ncUQrjQEIUEDyC', ...",text-davinci-003,None
3,davinci,model,1649359874,openai,"[{'id': 'modelperm-U6ZwlyAd0LyMk4rcMdz33Yc3', ...",davinci,None
4,text-davinci-edit-001,model,1649809179,openai,"[{'id': 'modelperm-otmQSS0hmabtVGHI9QB3bct3', ...",text-davinci-edit-001,None

In [76]:
model_name = "gpt-3.5-turbo-16k" 

question = "삼성전자에 대해 설명 해줘" # 모델에 입력할 프롬프트
# API 호출
completion = openai.ChatCompletion.create(
      model=model_name, 
      messages=[{"role": "user",
                 "content": question}]
        
)
# 결과 출력
completion.choices[0]['message']['content']

'삼성전자는 대한민국의 대표적인 전자 제조 기업으로, 1969년에 창립된 이후 전자 제품, 통신 장비, 반도체 등 다양한 분야에서 국내외 시장을 선도하고 있습니다. 삼성전자는 세계적으로 가장 큰 매출을 올리는 기업 중 하나로, 전 세계에 수많은 인재와 연구 개발 인프라를 보유하여 혁신적인 기술과 제품을 제공하고 있습니다.\n\n삼성전자는 스마트폰, TV, 가전제품, 노트북, 태블릿, 갤럭시 워치 등 다양한 전자제품을 생산하고 있으며, 특히 스마트폰은 갤럭시 시리즈로 유명합니다. 이 밖에도 반도체 제조, 디스플레이 패널 생산, 통신 장비 등 다양한 분야에서 우수한 기술력과 경쟁력을 갖추고 있습니다.\n\n삼성전자는 지속적인 혁신을 통해 앞선 기술을 개발하고 고객들이 원하는 제품을 생산해내며 세계적으로 인정받고 있습니다. 또한 지속가능한 경영과 사회적 책임을 중요시하며, 다양한 환경 보호 및 사회 공헌 활동을 추진하고 있습니다.\n\n이처럼 삼성전자는 꾸준한 기술 혁신과 고객 경험에 대한 집중을 바탕으로 전 세계에서 많은 사랑을 받고 있는 기업입니다.'

### 회사 리스트

In [8]:


file_dir = '/home/owenchoi07/finance_mlops/data_crawler'

now = datetime.now()
today_date1 = now.strftime('%Y%m%d')
today_date2 = now.strftime('%Y-%m-%d')
today_date_time_csv = now.strftime("%Y%m%d_%H%M")
ticker_nm = '005930'


# 한국 ticker 리스트 

kor_ticker_list = pd.read_csv(f'{file_dir}/kor_ticker_list.csv')
kor_corp_name_list = kor_ticker_list['corp_name']

# 코스피 200 리스트
index_code_df = pd.read_csv(f'{file_dir}/kor_kospi_index_list_df.csv', 
                            dtype = {'index_code':str,
                                    'ticker':str})
kospi_200_index = index_code_df[index_code_df['index_code'] == '1028'] # 코스피 200 인덱스 코드 1028
kospi_200_index = kospi_200_index.reset_index(drop = True)
kospi_200_corp_name_list = kospi_200_index['corp_name']

In [10]:
kospi_200_index

     ticker index_code index_nm market corp_name
0    005930       1028  코스피 200  KOSPI      삼성전자
1    373220       1028  코스피 200  KOSPI  LG에너지솔루션
2    000660       1028  코스피 200  KOSPI    SK하이닉스
3    207940       1028  코스피 200  KOSPI  삼성바이오로직스
4    006400       1028  코스피 200  KOSPI     삼성SDI
..      ...        ...      ...    ...       ...
195  381970       1028  코스피 200  KOSPI       케이카
196  031430       1028  코스피 200  KOSPI  신세계인터내셔날
197  057050       1028  코스피 200  KOSPI     현대홈쇼핑
198  284740       1028  코스피 200  KOSPI     쿠쿠홈시스
199  020000       1028  코스피 200  KOSPI        한섬

[200 rows x 5 columns]

In [12]:

for i in range(len(kospi_200_index)):
    kospi_200_corp_name = kospi_200_index['corp_name'][i]
    kospi_200_ticker = kospi_200_index['ticker'][i]
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

#### naver crawling

In [93]:
def get_news_summary(key_word):
    
    # 1. 검색 url을 통해 뉴스의 리스트를 읽어 오는 코드
    url = f'https://search.naver.com/search.naver?where=news&sm=tab_jum&query={key_word}'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.157 Safari/537.36"}
    res = requests.get(url, headers= headers)
    soup = bs(res.text, 'html.parser')
    news_list = soup.find_all('div', attrs={'class':'info_group'})
    
    # 각각 뉴스의 리스트에서 링크를 타고 들어간 후 각각의 뉴스 내용을 합치는 코드
    news_url_list = [] # 네이버 뉴스 url 리스트
    new_article_list= [] # 네이버 뉴스 기사 통합 리스트
    for i in range(3): # 최대 5개 정도만 추출
        news_article = news_list[i].find_all("a", attrs={"class":"info"})
        if len(news_article) > 1:
            news_nm_url = news_article[1].get('href')
            news_url_list.append(news_nm_url)
            res = requests.get(news_nm_url, headers=headers)
            soup = bs(res.text, 'lxml')
            news_article_nm = soup.find_all('div', attrs = {'class': 'newsct_article _article_body'})
            news_article_text = news_article_nm[0].get_text()
            new_article_list.append(news_article_text)
            
#     # BARD에 들어갈 최종 뉴스기사
    total_article = '_'.join(new_article_list)
    total_article = total_article.replace("\n","")
    
    
#     # 뉴스기사와 함께 요약문 
    input_text_2 = ' \n 전망이 어떨지 요약 좀 해줘'
    
    question = f'{total_article} {input_text_2}'
    
    # Chat gpt
    completion = openai.ChatCompletion.create(
      model="gpt-3.5-turbo-16k", 
      messages=[{"role": "user", 
                 "content": question}]
)
    return completion.choices[0]['message']['content']

In [94]:
question = get_news_summary('강남 폭우')

In [95]:
question

'서울과 수도권 지역에 폭우가 계속되고 있습니다. 서울 강남역을 비롯한 수도권 전역에서 호우특보가 발효되었으며, 급격한 비로 인해 차량 침수와 도로 침수 등의 피해가 발생하고 있습니다. 특히, 강남역 부근은 2000년대 초부터 호우 피해가 지속되는 곳으로, 지형적으로 물이 흐르기 쉬운 지역입니다. 서울시는 차량 침수 피해를 막기 위해 침수위험 도로를 통제하는 등의 대책을 추진하고 있습니다. 전망에 따르면 충청권, 전라권, 경북북부내륙 등에는 내일까지 100-250mm, 일부 지역에서는 400mm 이상의 강한 비가 예상되며, 수도권과 강원도 등은 소강상태가 지속될 것으로 예상됩니다.'