In [47]:
import plotly.graph_objects as go

from ta.trend import MACD
from ta.momentum import StochasticOscillator

import numpy as np
import pandas as pd
from pykrx import stock
from pykrx import bond
from time import sleep

from datetime import datetime
from datetime import timedelta
import os
import time
from plotly.subplots import make_subplots
import glob

import warnings
warnings.filterwarnings('ignore')

## 데이터 로드

In [2]:
ohlcv_df_raw = pd.read_csv('ohlcv_df_raw.csv', dtype = {'ticker':str})
ticker_list = ohlcv_df_raw['ticker'].unique()

In [48]:
# 경로 변경
os.chdir('/home/shjj08choi4/finance_mlops')
ohlcv_df_raw = pd.read_csv('data_crawler/kor_stock_ohlcv/kor_stock_ohlcv.csv')

ohlcv_df_raw['ticker'] = ohlcv_df_raw['ticker'].astype('str')
ohlcv_df_raw['ticker'] = ohlcv_df_raw['ticker'].str.zfill(6)

ticker_list = ohlcv_df_raw['ticker'].unique()

### 보조지표 계산

In [ ]:
df_raw_total = pd.DataFrame()
df_raw_anal_total = pd.DataFrame()

for ticker_nm in ticker_list:
    df_raw = ohlcv_df_raw[ohlcv_df_raw['ticker'] == ticker_nm].reset_index(drop = True)
    
    ######################################################################
    # 보조지표
    ###################################################################### 

    # 이동평균선
    df_raw['MA5'] = df_raw['close'].rolling(window=5).mean()
    df_raw['MA20'] = df_raw['close'].rolling(window=20).mean()
    df_raw['MA60'] = df_raw['close'].rolling(window=60).mean()
    df_raw['MA120'] = df_raw['close'].rolling(window=120).mean()

    # 볼린저밴드
    std = df_raw['close'].rolling(20).std(ddof=0)

    df_raw['upper'] = df_raw['MA20'] + 2 * std
    df_raw['lower'] = df_raw['MA20'] - 2 * std

    # MACD
    # MACD 
    macd = MACD(close=df_raw['close'], 
                window_slow=26,
                window_fast=12, 
                window_sign=9)


    df_raw['MACD_DIFF'] = macd.macd_diff()
    df_raw['MACD'] = macd.macd()
    df_raw['MACD_Signal'] = macd.macd_signal()

    # RSI
    df_raw['변화량'] = df_raw['close'] - df_raw['close'].shift(1)
    df_raw['상승폭'] = np.where(df_raw['변화량']>=0, df_raw['변화량'], 0)
    df_raw['하락폭'] = np.where(df_raw['변화량'] <0, df_raw['변화량'].abs(), 0)

    # welles moving average
    df_raw['AU'] = df_raw['상승폭'].ewm(alpha=1/14, min_periods=14).mean()
    df_raw['AD'] = df_raw['하락폭'].ewm(alpha=1/14, min_periods=14).mean()
    df_raw['RSI'] = df_raw['AU'] / (df_raw['AU'] + df_raw['AD']) * 100

    df_raw['MA5-20'] = df_raw['MA5'] - df_raw['MA20']
    df_raw['MA20-60'] = df_raw['MA20'] - df_raw['MA60']
    df_raw['MA60-120'] = df_raw['MA60'] - df_raw['MA120']
    
    
    ######################################################################
    # 보조지표 분석
    ###################################################################### 
    df_raw_anal = df_raw[['date','ticker', 'close']]
    
    # 골든크로스
    # 골든 크로스 5-20
    # 음수에서 양수로 바뀌는 모든 인덱스 찾기
    idx_5_20_gold_cross = [idx for idx in range(len(df_raw)) if df_raw["MA5-20"].iloc[idx] > 0 and df_raw["MA5-20"].iloc[idx - 1] <= 0]

    # 데드 크로스 5-20
    # 양수에서 음수로 바뀌는 모든 인덱스 찾기
    idx_5_20_dead_cross = [idx for idx in range(len(df_raw)) if df_raw["MA5-20"].iloc[idx] < 0 and df_raw["MA5-20"].iloc[idx - 1] >= 0]

    # 골든 크로스 20-60
    # 음수에서 양수로 바뀌는 모든 인덱스 찾기
    idx_20_60_gold_cross = [idx for idx in range(len(df_raw)) if df_raw["MA20-60"].iloc[idx] > 0 and df_raw["MA20-60"].iloc[idx - 1] <= 0]

    # 골든 크로스 20-60
    # 음수에서 양수로 바뀌는 모든 인덱스 찾기
    idx_20_60_dead_cross = [idx for idx in range(len(df_raw)) if df_raw["MA20-60"].iloc[idx] < 0 and df_raw["MA20-60"].iloc[idx - 1] >= 0]
    

    df_raw_anal.loc[:, '5_20_cross'] = '-'
    df_raw_anal.loc[idx_5_20_gold_cross,'5_20_cross'] = '골든크로스(매수)'
    df_raw_anal.loc[idx_5_20_dead_cross,'5_20_cross'] = '데드크로스(매도)'

    df_raw_anal.loc[:, '20_60_cross'] = '-'
    df_raw_anal.loc[idx_20_60_gold_cross,'20_60_cross'] = '골든크로스(매수)'
    df_raw_anal.loc[idx_20_60_dead_cross,'20_60_cross'] = '데드크로스(매도)'
    
    
    # 정배열 역배열
    ascending_sq  = (df_raw['MA5-20'] > 0) & \
    (df_raw['MA20-60'] > 0) & \
    (df_raw['MA60-120'] > 0) 

    descending_sq  = (df_raw['MA5-20'] < 0) & \
    (df_raw['MA20-60'] < 0) & \
    (df_raw['MA60-120'] < 0) 
    
    df_raw_anal.loc[:,'array'] = '-'
    df_raw_anal.loc[ascending_sq,'array'] = '정배열(매수)'
    df_raw_anal.loc[descending_sq,'array'] = '역배열(매도)'
    
    
    # 볼린저밴드
    down_reg_sq = df_raw['upper'] - df_raw['close'] 
    top_reg_sq  = df_raw['lower'] - df_raw['close'] 

    down_reg = [idx for idx in range(1,len(df_raw)) if down_reg_sq[idx] > 0 and down_reg_sq[idx-1] <= 0]
    top_reg = [idx for idx in range(1,len(df_raw)) if top_reg_sq[idx] < 0 and top_reg_sq[idx-1] >= 0]
    
    df_raw_anal.loc[:,'Bollinger_band'] = '-'
    df_raw_anal.loc[down_reg,'Bollinger_band'] = '하향회귀(매도)'
    df_raw_anal.loc[top_reg,'Bollinger_band'] = '상향회귀(매수)'
    
    
    # MACD
    signal_down_cross = [idx for idx in range(1,len(df_raw)) if df_raw['MACD_DIFF'][idx] < 0 and df_raw['MACD_DIFF'][idx-1] >= 0]
    signal_top_corss = [idx for idx in range(1,len(df_raw)) if df_raw['MACD_DIFF'][idx] > 0 and df_raw['MACD_DIFF'][idx-1] <= 0]

    df_raw_anal.loc[:,'MACD'] = '-'
    df_raw_anal.loc[signal_down_cross,'MACD'] = '하향돌파(매도)'
    df_raw_anal.loc[signal_top_corss,'MACD'] = '상향돌파(매수)'    
    
    # RSI
    down_reg = [idx for idx in range(1,len(df_raw)) if df_raw['RSI'][idx] > 70 and df_raw['RSI'][idx-1] <= 70]
    top_reg = [idx for idx in range(1,len(df_raw)) if df_raw['RSI'][idx] < 30 and df_raw['RSI'][idx-1] >= 30]
    
    
    df_raw_anal.loc[:,'RSI'] = '-'
    df_raw_anal.loc[down_reg,'RSI'] = 'RSI 상단 하향돌파(매도)'
    df_raw_anal.loc[top_reg,'RSI'] = 'RSI 하단 상향 돌파(매수)'


    df_raw_total = pd.concat([df_raw_total, df_raw])
    df_raw_anal_total = pd.concat([df_raw_anal_total, df_raw_anal])
    
    print(ticker_nm)

095570
006840
027410
282330
138930
001460
001465
001040
079160
00104K
000120
011150
011155
001045
097950
097955
000480
000590
012030
016610
005830
000990
139130
001530
000210
001880
000215
375500
37550L
37550K
007340
004840
155660
069730
017940
365550
383220
007700
114090
078930
006360
001250
007070
078935
012630
039570
089470
294870
009540
267250
267270
322000
042670
267260
329180
097230
014790
003580
204320
060980
011200
082740
035000
003560
175330
234080
001060
001067
001065
096760
105560
432320
002380
344820
009070
009440
119650
092220
003620
016380
001390
033180
015590
001940
025000
092230
000040
044450
030200
033780
058850
058860
093050
003550
034220
051900
051905
373220
003555
032640
011070
066570
066575
037560
051910
051915
079550
006260
010120
000680
229640
108320
001120
108670
108675
383800
38380K
023150
035420
181710
400760
005940
005945
338100
034310
030190
008260
004250
004255
456040
010060
178920
005490
010950
010955
034120
005090
001380
004060
001770
002360
009160
123700
025530
034730
011790
018670
001740
006120
006125
210980
068400
395400
302440
326030
402340
361610
100090
03473K
096770
096775
001510
001515
285130
28513K
017670
000660
003570
064960
100840
036530
005610
011810
465770
077970
071970
002820
084870
002710
069260
002900
024070
037270
000500
000860
035250
011420
002100
009450
267290
012320
000050
214390
012610
009140
013580
012200
012205
002140
010130
002240
009290
017040
017900
037710
030610
339770
007690
005320
001140
002720
083420
014530
014280
014285
008870
001570
002990
002995
011780
011785
214330
001210
073240
092440
000270
024110
013700
004540
004545
001260
008350
008355
004270
003920
003925
025860
005720
005725
002350
002355
092790
251270
090350
090355
000320
000325
006280
005250
005257
004370
072710
058730
030210
023590
145210
019680
019685
006370
008060
00806K
353200
35320K
000490
008110
005750
006570
001680
001685
084690
084695
128820
117580
016710
003540
003547
003545
009190
014160
047040
009320
003090
069620
000430
006340
006345
003220
024890
002880
000300
012800
015230
001070
006650
001440
084010
001790
001795
001130
003490
003495
005880
003830
016090
069460
192080
012510
004830
004835
024900
145720
002150
460850
460860
001230
023450
004140
007590
005960
005965
026960
002210
102260
000640
170900
028100
282690
001520
001527
084670
082640
001525
008970
092780
049770
018500
006040
030720
014820
014825
111380
163560
004890
002690
000020
000150
000157
454910
241560
034020
000155
336260
33626K
33626L
016740
192650
024090
003160
092200
377190
013570
210540
115390
032350
089860
330590
000400
023530
020150
280360
004000
286940
004990
00499K
005300
005305
011170
071840
027740
357430
001080
088980
094800
138040
090370
017180
009900
012690
005360
204210
009680
009580
009200
033920
008420
025560
007120
396690
357250
085620
006800
00680K
006805
002840
268280
107590
134380
003650
377740
003610
001340
035150
002410
007210
002760
003850
000890
003000
001270
001275
026940
011390
005030
002070
100220
090460
030790
005180
003960
008040
007160
014710
006090
001470
448730
006400
006405
006660
028260
02826K
207940
032830
018260
028050
009150
009155
005930
005935
001360
010140
016360
068290
029780
000810
000815
006110
145990
145995
003230
002170
272550
000070
000075
003720
002810
005680
023000
004380
002450
004440
000520
009770
005500
004690
010960
004450
009470
011230
001820
000390
001290
041650
075180
007540
248170
007860
200880
017390
004410
004415
021050
008490
007610
136490
014910
014915
003080
004980
004985
011300
000180
002420
004360
004365
004490
001430
306200
003030
019440
058650
013000
091090
021820
067830
033530
075580
068270
336370
33637K
33637L
248070
004430
126720
017550
053210
026890
134790
016590
029530
004970
011930
005390
004170
035510
034300
031430
031440
006880
005800
001720
001725
009270
002700
002870
019170
019175
404990
293940
055550
004080
102280
003410
004770
403550
004920
112610
308170
008700
002790
00279K
002795
090430
090435
002030
183190
002310
012170
267850
020560
122900
010780
139990
001780
018250
161000
011090
137310
118000
005850
010580
012750
023960
298690
140910
078520
015260
007460
003060
244920
450080
036570
380440
085310
900140
097520
014440
111770
009970
003520
000670
006740
012280
012160
015360
007310
002630
271560
001800
011690
070960
316140
006980
017370
105840
010400
049800
016880
095720
005820
010600
008600
033270
014830
446070
000910
047400
011330
077500
002920
000700
003470
003475
072130
000220
000225
000227
001200
000100
000105
003460
003465
008730
008250
025820
214320
088260
139480
457190
007660
005950
015020
093230
074610
102460
084680
350520
334890
000760
014990
101140
006490
023800
034590
129260
023810
249420
000230
013360
003120
003200
007110
007570
007575
008500
081000
020760
103590
271940
015860
226320
317400
033240
000950
348950
194370
025620
030000
271980
001560
002620
006220
089590
004910
004700
001550
462520
120030
018470
002600
185750
063160
001630
044380
013890
013870
071320
088790
003780
010640
100250
051630
272450
011000
002780
002787
002785
009310
000650
012600
033250
035720
323410
377300
006380
109070
001620
029460
281820
381970
145270
417310
357120
007815
007810
00781K
003690
192820
044820
005070
005420
071950
002020
003070
003075
450140
45014K
002025
120110
120115
138490
021240
036420
031820
192400
284740
264900
26490K
005740
005745
259960
020120
039490
014580
015890
006890
003240
011280
004100
004105
009410
009415
001420
007980
055490
078000
214420
019180
363280
36328K
091810
004870
005690
036580
004720
028670
010820
016800
001020
090080
010770
058430
047050
003670
017810
103140
005810
950210
009810
086790
293480
039130
352820
071090
019490
000080
000087
000140
000145
152550
036460
005430
071050
071055
010040
025540
010100
004090
002200
002960
000240
123890
015760
006200
027970
023350
025890
000970
104700
017960
161890
024720
161390
034830
007280
168490
047810
123690
003350
011500
002390
053690
042700
008930
128940
009240
020000
003680
105630
069640
016450
010420
009180
213500
014680
004710
004150
025750
004960
011700
001750
001755
018880
009420
014130
300720
002220
006390
003300
051600
052690
130660
002320
003480
180640
18064K
005110
009460
372910
000880
00088K
452260
45226K
451800
088350
000370
009830
009835
272210
012450
042660
000885
003530
003535
195870
101530
143210
000720
000725
453340
086280
064350
079430
012330
010620
069960
004560
004310
017800
307950
011210
004020
005440
005380
005387
005389
005385
001500
011760
227840
126560
001450
057050
093240
003010
111110
008770
008775
002460
378850
241590
006060
013520
010690
133820
010660
000850
016580
032560
004800
094280
298040
298050
298020
298000
093370
081660
005870
079980
005010
000540
000545
003280
060310
054620
265520
211270
126600
013720
083790
035760
311690
051500
058820
023460
056730
065770
083660
404950
456440
060900
025440
068790
241520
065150
180400
245620
037370
050120
214270
130500
900290
083450
297890
078150
195940
028300
278650
067630
024850
047920
115450
046210
403870
036640
426550
439730
442770
448760
095340
099520
950170
067290
035900
318000
024840
024120
455250
458320
464680
021320
036670
044180
151860
046440
035600
226360
111870
060720
058400
122450
052900
376190
061970
309960
060370
086960
038340
160550
053290
060250
104200
024940
218410
327260
091340
419530
019550
950110
046140
151910
036120
099220
036540
255220
040610
049470
184230
016250
048550
063440
289080
089230
161570
032540
022220
048770
246690
317240
057030
040300
051390
052220
079940
078890
399720
036620
217730
114190
094480
039240
053950
011040
024910
198440
049720
014570
348150
950190
098460
035290
900280
215000
121440
366030
014200
029480
026910
397880
421800
440790
456490
465320
053270
066620
043650
006050
060480
078130
307750
035080
204020
402490
114450
186230
900070
204620
019660
053260
282720
036190
049080
420770
035460
308100
407400
187790
286750
121600
247660
039860
091970
417010
405920
051490
137080
190510
242040
089600
293580
138610
130580
036800
267320
111710
091590
168330
094860
253590
212560
095660
042420
950220
311390
085910
092730
290660
306620
153460
007390
033640
330860
089140
137940
396270
348210
225570
217270
104620
194700
285490
106520
376930
142280
234690
065560
054050
069140
040160
332290
348340
060260

012340
214870
270870
144960
085670
064260
340360
039560
154040
032190
068240
020400
008830
048470
004780
017650
007720
389260
317850

In [ ]:
df_raw_total = df_raw_total.reset_index(drop = True)

In [ ]:
df_raw_total.head()

In [ ]:
df_raw_anal_total.head()

### 등락률 계산

In [8]:
diff_date = 60
now = datetime.now()
now = now + timedelta(days=-diff_date)
set_date = now.strftime('%Y-%m-%d')
df1 =  ohlcv_df_raw[ohlcv_df_raw['date'] > set_date].groupby("ticker")['date'].min().reset_index()

In [9]:
diff_date_list = [30, 90, 180, 240, 365]
now = datetime.now()
set_date = now.strftime('%Y-%m-%d')

ohlcv_df_raw['date'] = pd.to_datetime(ohlcv_df_raw['date'])


df1_set =  ohlcv_df_raw[ohlcv_df_raw['date'] > '2023-10-01'].groupby("ticker")['date'].max().reset_index()
# df1_set =  ohlcv_df_raw[ohlcv_df_raw['date'] == '2023-10-06'].groupby("ticker")['date'].max().reset_index()
df1_set = df1_set[['ticker', 'date']]
df1_set = pd.merge(df1_set, ohlcv_df_raw[['ticker', 'date', 'close', 'corp_name']],
              on = ['ticker', 'date'], 
              how = 'left')

    
for diff_date in diff_date_list:
# diff_date = 240
    now = datetime.now()
    now = now + timedelta(days=-diff_date)
    set_date = now.strftime('%Y-%m-%d')
    df1 =  ohlcv_df_raw[ohlcv_df_raw['date'] > set_date].groupby("ticker")['date'].min().reset_index()

    
    df1 = df1[['ticker','date']]
    df1 = pd.merge(df1, ohlcv_df_raw[['ticker', 'date', 'close']],
                  on = ['ticker', 'date'], 
                  how = 'left')
    
    df1.columns = ['ticker', f'date_{diff_date}', f'close_{diff_date}']

    df1_set = pd.merge(df1_set, df1, 
                      on = 'ticker', 
                      how = 'left')

    df1_set[f'per_{diff_date}'] = (df1_set['close'] - df1_set[f'close_{diff_date}']) / df1_set[f'close_{diff_date}']

In [10]:
df1_set_2 = df1_set[['date','ticker','per_30', 'per_90', 'per_180', 'per_240', 'per_365', 'corp_name']]

In [11]:
df_per_total = pd.DataFrame()
per_set = ['per_30', 'per_90', 'per_180', 'per_240', 'per_365']
ascending_list = [True, False]

for per_value in per_set:
    for ascending_value in ascending_list:
        df_per =  df1_set_2.sort_values(by =per_value, ascending = ascending_value).head()
        df_per['type'] = per_value
        df_per['rank'] = range(1,6)
        df_per_total = pd.concat([df_per_total, df_per])

df_per_total = df_per_total.drop_duplicates()

## 최종

In [17]:
df_raw_total

,date,open,high,low,close,volume,price_change_percentage,ticker,corp_name,market,...,MACD_Signal,변화량,상승폭,하락폭,AU,AD,RSI,MA5-20,MA20-60,MA60-120
0,2018-01-02,51380,51400,50780,51020,169485,0.117739,005930,삼성전자,KOSPI_100,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-03,52540,52560,51420,51620,200270,1.176009,005930,삼성전자,KOSPI_100,...,NaN,600.0,600.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-04,52120,52180,50640,51080,233909,-1.046106,005930,삼성전자,KOSPI_100,...,NaN,-540.0,0.0,540.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-05,51300,52120,51200,52120,189623,2.036022,005930,삼성전자,KOSPI_100,...,NaN,1040.0,1040.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-08,52400,52520,51500,52020,167673,-0.191865,005930,삼성전자,KOSPI_100,...,NaN,-100.0,0.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133107,2023-10-25,10270,10420,10100,10310,202518,0.291829,137310,에스디바이오센서,KOSPI_100,...,-467.505334,30.0,30.0,0.0,101.755167,147.638099,40.801088,-353.0,-1225.000000,-1828.750000
133108,2023-10-26,10100,10130,9800,9820,406661,-4.752667,137310,에스디바이오센서,KOSPI_100,...,-465.442540,-490.0,0.0,490.0,94.486941,172.092520,35.444194,-380.5,-1290.333333,-1759.666667
133109,2023-10-27,9900,9970,9640,9690,283074,-1.323829,137310,에스디바이오센서,KOSPI_100,...,-467.424888,-130.0,0.0,130.0,87.737873,169.085912,34.162674,-361.5,-1329.666667,-1712.750000
133110,2023-10-30,9640,9930,9630,9810,200570,1.238390,137310,에스디바이오센서,KOSPI_100,...,-468.858850,120.0,120.0,0.0,90.042311,157.008346,36.446902,-360.5,-1376.166667,-1641.166667
133111,2023-10-31,9880,10060,9570,9640,331463,-1.732926,137310,에스디바이오센서,KOSPI_100,...,-471.517550,-170.0,0.0,170.0,83.610717,157.936322,34.614673,-422.0,-1387.500000,-1603.333333

In [15]:
df_raw_anal_total

,date,ticker,close,5_20_cross,20_60_cross,array,Bollinger_band,MACD,RSI
0,2018-01-02,005930,51020,-,-,-,-,-,-
1,2018-01-03,005930,51620,-,-,-,-,-,-
2,2018-01-04,005930,51080,-,-,-,-,-,-
3,2018-01-05,005930,52120,-,-,-,-,-,-
4,2018-01-08,005930,52020,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...
559,2023-10-25,137310,10310,-,-,역배열(매도),상향회귀(매수),-,-
560,2023-10-26,137310,9820,-,-,역배열(매도),상향회귀(매수),-,-
561,2023-10-27,137310,9690,-,-,역배열(매도),상향회귀(매수),하향돌파(매도),-
562,2023-10-30,137310,9810,-,-,역배열(매도),상향회귀(매수),-,-
563,2023-10-31,137310,9640,-,-,역배열(매도),상향회귀(매수),-,-

In [18]:
df_per_total.tail()

,date,ticker,per_30,per_90,per_180,per_240,per_365,corp_name,type,rank
61,2023-10-31,047050,NaN,-0.311813,0.320158,0.828467,1.028340,포스코인터내셔널,per_365,1
2,2023-10-31,000660,NaN,-0.005983,0.024670,0.309685,0.494859,SK하이닉스,per_365,2
34,2023-10-31,012450,NaN,-0.032567,-0.232523,-0.090090,0.438746,한화에어로스페이스,per_365,3
13,2023-10-31,005490,NaN,-0.236549,0.028750,0.063307,0.426343,POSCO홀딩스,per_365,4
60,2023-10-31,042660,NaN,-0.239936,-0.279125,-0.016134,0.405515,한화오션,per_365,5

In [19]:
df_per_total

,date,ticker,per_30,per_90,per_180,per_240,per_365,corp_name,type,rank
0,2023-10-31,000100,NaN,-0.225371,-0.015437,0.003497,0.008486,유한양행,per_30,1
1,2023-10-31,000270,NaN,-0.063337,-0.100585,-0.112009,0.226475,기아,per_30,2
2,2023-10-31,000660,NaN,-0.005983,0.024670,0.309685,0.494859,SK하이닉스,per_30,3
3,2023-10-31,000720,NaN,-0.087432,-0.181373,-0.182375,-0.042980,현대건설,per_30,4
4,2023-10-31,000810,NaN,-0.031835,0.148889,0.156600,0.193995,삼성화재,per_30,5
9,2023-10-31,003670,NaN,-0.359079,-0.367647,-0.304412,0.324930,포스코퓨처엠,per_90,1
61,2023-10-31,047050,NaN,-0.311813,0.320158,0.828467,1.028340,포스코인터내셔널,per_90,2
63,2023-10-31,051900,NaN,-0.305066,-0.361982,-0.489482,-0.552482,LG생활건강,per_90,3
20,2023-10-31,008770,NaN,-0.284730,-0.144231,-0.214376,-0.228005,호텔신라,per_90,4
83,2023-10-31,241560,NaN,-0.261905,-0.327257,-0.243164,0.088483,두산밥캣,per_90,5
85,2023-10-31,259960,NaN,0.100067,-0.197059,-0.133792,-0.050435,크래프톤,per_90,1
67,2023-10-31,068270,NaN,0.073223,-0.094488,-0.083946,-0.102894,셀트리온,per_90,2
29,2023-10-31,011170,NaN,0.060101,-0.113801,-0.126492,-0.177528,롯데케미칼,per_90,3
41,2023-10-31,021240,NaN,0.046005,-0.022624,-0.113846,-0.255172,코웨이,per_90,4
46,2023-10-31,029780,NaN,0.022838,0.062712,0.055556,-0.045662,삼성카드,per_90,5
17,2023-10-31,006400,NaN,-0.183301,-0.377013,-0.397309,-0.315916,삼성SDI,per_180,1
64,2023-10-31,051910,NaN,-0.135560,-0.374111,-0.406208,-0.278689,LG화학,per_180,2
9,2023-10-31,003670,NaN,-0.359079,-0.367647,-0.304412,0.324930,포스코퓨처엠,per_180,3
63,2023-10-31,051900,NaN,-0.305066,-0.361982,-0.489482,-0.552482,LG생활건강,per_180,4
95,2023-10-31,361610,NaN,-0.208278,-0.346916,-0.237789,0.070397,SK아이이테크놀로지,per_180,5
61,2023-10-31,047050,NaN,-0.311813,0.320158,0.828467,1.028340,포스코인터내셔널,per_180,1
72,2023-10-31,090430,NaN,0.012010,0.246548,0.051581,-0.053184,아모레퍼시픽,per_180,2
78,2023-10-31,138040,NaN,-0.143345,0.196663,0.146119,0.188166,메리츠금융지주,per_180,3
14,2023-10-31,005830,NaN,-0.052802,0.167331,0.055222,0.290749,DB손해보험,per_180,4
4,2023-10-31,000810,NaN,-0.031835,0.148889,0.156600,0.193995,삼성화재,per_180,5
77,2023-10-31,137310,NaN,-0.138517,-0.264683,-0.533172,-0.700156,에스디바이오센서,per_240,1
63,2023-10-31,051900,NaN,-0.305066,-0.361982,-0.489482,-0.552482,LG생활건강,per_240,2
24,2023-10-31,009830,NaN,-0.036975,-0.332945,-0.440430,-0.495847,한화솔루션,per_240,3
64,2023-10-31,051910,NaN,-0.135560,-0.374111,-0.406208,-0.278689,LG화학,per_240,4
84,2023-10-31,251270,NaN,-0.096019,-0.253385,-0.400621,-0.224121,넷마블,per_240,5
61,2023-10-31,047050,NaN,-0.311813,0.320158,0.828467,1.028340,포스코인터내셔널,per_240,1
2,2023-10-31,000660,NaN,-0.005983,0.024670,0.309685,0.494859,SK하이닉스,per_240,2
26,2023-10-31,010140,NaN,-0.136709,0.030211,0.196491,0.324272,삼성중공업,per_240,3
39,2023-10-31,018260,NaN,0.013196,0.116317,0.188306,0.088189,삼성에스디에스,per_240,4
4,2023-10-31,000810,NaN,-0.031835,0.148889,0.156600,0.193995,삼성화재,per_240,5
77,2023-10-31,137310,NaN,-0.138517,-0.264683,-0.533172,-0.700156,에스디바이오센서,per_365,1
63,2023-10-31,051900,NaN,-0.305066,-0.361982,-0.489482,-0.552482,LG생활건강,per_365,2
24,2023-10-31,009830,NaN,-0.036975,-0.332945,-0.440430,-0.495847,한화솔루션,per_365,3
59,2023-10-31,036570,NaN,0.015284,-0.225000,-0.359504,-0.458673,엔씨소프트,per_365,4
58,2023-10-31,036460,NaN,-0.059671,-0.082329,-0.148976,-0.408797,한국가스공사,per_365,5
61,2023-10-31,047050,NaN,-0.311813,0.320158,0.828467,1.028340,포스코인터내셔널,per_365,1
2,2023-10-31,000660,NaN,-0.005983,0.024670,0.309685,0.494859,SK하이닉스,per_365,2
34,2023-10-31,012450,NaN,-0.032567,-0.232523,-0.090090,0.438746,한화에어로스페이스,per_365,3
13,2023-10-31,005490,NaN,-0.236549,0.028750,0.063307,0.426343,POSCO홀딩스,per_365,4
60,2023-10-31,042660,NaN,-0.239936,-0.279125,-0.016134,0.405515,한화오션,per_365,5