In [3]:
import pandas as pd
import os
import glob
import plotly.express as px
import plotly.graph_objects as go
import json
from plotly.subplots import make_subplots

# import math

import streamlit as st
from datetime import datetime


os.chdir('/home/shjj08choi/finance_mlops')

In [4]:
kor_index_ohlcv = pd.read_csv('data_crawler/kor_index_ohlcv/kor_index_ohlcv_20230825.csv', dtype = {'ticker': object})
kor_index_list_df = pd.read_csv('data_crawler/kor_index_list_df/kor_index_list_df_20230825.csv')

In [10]:
df2 = pd.merge(kor_index_ohlcv, kor_index_list_df, 
        on = 'index_code', 
        how = 'left')
index_list = df2['index_code_nm'].unique()

'코스피'

In [13]:
kor_index_ohlcv_095570_total = df2[df2['index_code_nm'] == '코스피']

,date,open,high,low,close,volume,trading_value,market_cap,index_code,index_code_nm,market
0,2018-01-02,2474.86,2481.02,2465.94,2479.65,262205431,4786386686165,1613508196692261,1001,코스피,KOSPI
1,2018-01-03,2484.63,2493.40,2481.91,2486.35,331094681,6019622040484,1617634317727445,1001,코스피,KOSPI
2,2018-01-04,2502.50,2502.50,2466.45,2466.46,333836328,6896287056563,1604916139690676,1001,코스피,KOSPI
3,2018-01-05,2476.85,2497.52,2475.51,2497.52,308769669,6317518427311,1624970533116195,1001,코스피,KOSPI
4,2018-01-08,2510.70,2515.37,2494.18,2513.28,311429324,6404885697956,1634777680824259,1001,코스피,KOSPI
...,...,...,...,...,...,...,...,...,...,...,...
1389,2023-08-21,2511.70,2524.41,2505.59,2508.80,399458711,8524817791134,1988814382258267,1001,코스피,KOSPI
1390,2023-08-22,2528.39,2533.43,2509.53,2515.74,471808571,9270272191698,1994100740867846,1001,코스피,KOSPI
1391,2023-08-23,2510.00,2517.51,2499.89,2505.50,547169704,8577994375668,1986575329001002,1001,코스피,KOSPI
1392,2023-08-24,2531.78,2539.44,2520.73,2537.68,441140168,10099466159245,2012082432960052,1001,코스피,KOSPI
1393,2023-08-25,2505.39,2526.37,2502.05,2519.14,577383852,8302851242350,1997701491140052,1001,코스피,KOSPI