In [49]:
#!/usr/bin/env python
# coding: utf-8

import pandas as pd
import pandas_gbq
from pykrx import stock
from pykrx import bond
import FinanceDataReader as fdr


from time import sleep

import psycopg2 as pg2
from sqlalchemy import create_engine

from datetime import datetime
from datetime import timedelta

import os
import time

import glob
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud import storage


# 경로 변경
os.chdir('/home/shjj08choi/finance_mlops')


# 서비스 계정 키 JSON 파일 경로
key_path = glob.glob("key_value/*.json")[0]

# Credentials 객체 생성
credentials = service_account.Credentials.from_service_account_file(key_path)

# 빅쿼리 정보
project_id = 'owenchoi-396200'
dataset_id = 'finance_mlops'

# GCP 클라이언트 객체 생성
storage_client = storage.Client(credentials = credentials,
                         project = credentials.project_id)
bucket_name = 'finance-mlops-1'     # 서비스 계정 생성한 bucket 이름 입력

In [ ]:


conn = st.experimental_connection('gcs', type=FilesConnection)
kor_stock_ohlcv = conn.read("finance-mlops-1/data_crawler/kor_stock_ohlcv/kor_stock_ohlcv_20230825.csv", 
                      input_format="csv", ttl=600)
                      
kor_ticker_list = conn.read("finance-mlops-1/data_crawler/kor_ticker_list/kor_ticker_list_20230825.csv", 
                      input_format="csv", ttl=600)

In [ ]:
kor_stock_ohlcv['MA120'] = kor_stock_ohlcv['close'].rolling(window=120).mean()
kor_stock_ohlcv['MA60'] = kor_stock_ohlcv['close'].rolling(window=60).mean()
kor_stock_ohlcv['MA20'] = kor_stock_ohlcv['close'].rolling(window=20).mean()
kor_stock_ohlcv['MA5'] = kor_stock_ohlcv['close'].rolling(window=5).mean()


kor_stock_ohlcv['ticker'] = kor_stock_ohlcv['ticker'].astype(str)

In [ ]:
# df1 = kor_stock_ohlcv[kor_stock_ohlcv['date'] == '2023-07-21']
df1 = pd.merge(kor_stock_ohlcv, kor_ticker_list, 
        on = 'ticker', 
        how = 'left')

In [45]:


now = datetime.now()
# now = now + timedelta(days=-2)
today_date1 = now.strftime('%Y%m%d')
today_date2 = now.strftime('%Y-%m-%d')
today_date_time_csv = now.strftime("%Y%m%d_%H%M")

In [50]:

def upload_df(data, file_name, project_id, dataset_id, today_date1):
    if not os.path.exists(f'data_crawler/streamlit_data/{file_name}'):
        os.makedirs(f'data_crawler/streamlit_data/{file_name}')

    try:
        if not os.path.exists(f'data_crawler/streamlit_data/{file_name}/{ticker_nm}_{today_date1}.csv'):
            data.to_csv(f'data_crawler/streamlit_data/{file_name}/{ticker_nm}_{today_date1}.csv', index=False, mode='w')
        else:
            data.to_csv(f'data_crawler/{file_name}/{ticker_nm}_{today_date1}.csv', index=False, mode='a', header=False)
        print(f'{ticker_nm}_로컬CSV저장_success')
    except:
        print(f'{ticker_nm}_로컬CSV저장_fail')


    # Google Storage 적재
    source_file_name = f'data_crawler/streamlit_data/{file_name}/{ticker_nm}_{today_date1}.csv'    # GCP에 업로드할 파일 절대경로
    destination_blob_name = f'data_crawler/streamlit_data/{file_name}/{ticker_nm}_{today_date1}.csv'    # 업로드할 파일을 GCP에 저장할 때의 이름
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(destination_blob_name)
    blob.upload_from_filename(source_file_name)

In [ ]:
file_name = 'kor_stock_ohlcv'

for ticker_nm in ticker_list:
    df_ticker = df1[df1['ticker'] == ticker_nm]
    
    upload_df(df_ticker, file_name, project_id, dataset_id, today_date1)

095570_로컬CSV저장_success
006840_로컬CSV저장_success
027410_로컬CSV저장_success
282330_로컬CSV저장_success
138930_로컬CSV저장_success
001460_로컬CSV저장_success
001465_로컬CSV저장_success
001040_로컬CSV저장_success
079160_로컬CSV저장_success
00104K_로컬CSV저장_success
000120_로컬CSV저장_success
011150_로컬CSV저장_success
011155_로컬CSV저장_success
001045_로컬CSV저장_success
097950_로컬CSV저장_success
097955_로컬CSV저장_success
000480_로컬CSV저장_success
000590_로컬CSV저장_success
012030_로컬CSV저장_success
016610_로컬CSV저장_success
005830_로컬CSV저장_success
000990_로컬CSV저장_success
139130_로컬CSV저장_success
001530_로컬CSV저장_success
000210_로컬CSV저장_success
001880_로컬CSV저장_success
000215_로컬CSV저장_success
375500_로컬CSV저장_success
37550L_로컬CSV저장_success
37550K_로컬CSV저장_success
007340_로컬CSV저장_success
004840_로컬CSV저장_success
155660_로컬CSV저장_success
069730_로컬CSV저장_success
017940_로컬CSV저장_success
365550_로컬CSV저장_success
383220_로컬CSV저장_success
007700_로컬CSV저장_success
114090_로컬CSV저장_success
078930_로컬CSV저장_success
006360_로컬CSV저장_success
001250_로컬CSV저장_success
007070_로컬CSV저장_success
078935_로컬CSV저장_success
012630_로컬CSV저장_success
039570_로컬CSV저장_success
089470_로컬CSV저장_success
294870_로컬CSV저장_success
009540_로컬CSV저장_success
267250_로컬CSV저장_success
267270_로컬CSV저장_success
322000_로컬CSV저장_success
042670_로컬CSV저장_success
267260_로컬CSV저장_success
329180_로컬CSV저장_success
097230_로컬CSV저장_success
014790_로컬CSV저장_success
003580_로컬CSV저장_success
204320_로컬CSV저장_success
060980_로컬CSV저장_success
011200_로컬CSV저장_success
082740_로컬CSV저장_success
035000_로컬CSV저장_success
003560_로컬CSV저장_success
175330_로컬CSV저장_success
234080_로컬CSV저장_success
001060_로컬CSV저장_success
001067_로컬CSV저장_success
001065_로컬CSV저장_success
096760_로컬CSV저장_success
105560_로컬CSV저장_success
432320_로컬CSV저장_success
002380_로컬CSV저장_success
344820_로컬CSV저장_success
009070_로컬CSV저장_success
009440_로컬CSV저장_success
119650_로컬CSV저장_success
092220_로컬CSV저장_success
003620_로컬CSV저장_success
016380_로컬CSV저장_success
001390_로컬CSV저장_success
033180_로컬CSV저장_success
015590_로컬CSV저장_success
001940_로컬CSV저장_success
025000_로컬CSV저장_success
092230_로컬CSV저장_success
000040_로컬CSV저장_success
044450_로컬CSV저장_success
030200_로컬CSV저장_success
033780_로컬CSV저장_success
058850_로컬CSV저장_success
058860_로컬CSV저장_success
093050_로컬CSV저장_success
003550_로컬CSV저장_success
034220_로컬CSV저장_success
051900_로컬CSV저장_success
051905_로컬CSV저장_success
373220_로컬CSV저장_success
003555_로컬CSV저장_success
032640_로컬CSV저장_success
011070_로컬CSV저장_success
066570_로컬CSV저장_success
066575_로컬CSV저장_success
037560_로컬CSV저장_success
051910_로컬CSV저장_success
051915_로컬CSV저장_success
079550_로컬CSV저장_success
006260_로컬CSV저장_success
010120_로컬CSV저장_success
000680_로컬CSV저장_success
229640_로컬CSV저장_success
108320_로컬CSV저장_success
001120_로컬CSV저장_success
108670_로컬CSV저장_success
108675_로컬CSV저장_success
383800_로컬CSV저장_success
38380K_로컬CSV저장_success
023150_로컬CSV저장_success
035420_로컬CSV저장_success
181710_로컬CSV저장_success
400760_로컬CSV저장_success
005940_로컬CSV저장_success
005945_로컬CSV저장_success
338100_로컬CSV저장_success
034310_로컬CSV저장_success
030190_로컬CSV저장_success
008260_로컬CSV저장_success
004250_로컬CSV저장_success
004255_로컬CSV저장_success
456040_로컬CSV저장_success
010060_로컬CSV저장_success
178920_로컬CSV저장_success
005490_로컬CSV저장_success
010950_로컬CSV저장_success
010955_로컬CSV저장_success
034120_로컬CSV저장_success
005090_로컬CSV저장_success
001380_로컬CSV저장_success
004060_로컬CSV저장_success
001770_로컬CSV저장_success
002360_로컬CSV저장_success
009160_로컬CSV저장_success
123700_로컬CSV저장_success
025530_로컬CSV저장_success
034730_로컬CSV저장_success
011790_로컬CSV저장_success
018670_로컬CSV저장_success
001740_로컬CSV저장_success
006120_로컬CSV저장_success
006125_로컬CSV저장_success
210980_로컬CSV저장_success
068400_로컬CSV저장_success
395400_로컬CSV저장_success
302440_로컬CSV저장_success
326030_로컬CSV저장_success
402340_로컬CSV저장_success
361610_로컬CSV저장_success
100090_로컬CSV저장_success
03473K_로컬CSV저장_success
096770_로컬CSV저장_success
096775_로컬CSV저장_success
001510_로컬CSV저장_success
001515_로컬CSV저장_success
285130_로컬CSV저장_success
28513K_로컬CSV저장_success
017670_로컬CSV저장_success
000660_로컬CSV저장_success
003570_로컬CSV저장_success
064960_로컬CSV저장_success
100840_로컬CSV저장_success
036530_로컬CSV저장_success
005610_로컬CSV저장_success
011810_로컬CSV저장_success
077970_로컬CSV저장_success
071970_로컬CSV저장_success
002820_로컬CSV저장_success
084870_로컬CSV저장_success
002710_로컬CSV저장_success
069260_로컬CSV저장_success
002900_로컬CSV저장_success
024070_로컬CSV저장_success
037270_로컬CSV저장_success
000500_로컬CSV저장_success
000860_로컬CSV저장_success
035250_로컬CSV저장_success
011420_로컬CSV저장_success
002100_로컬CSV저장_success
009450_로컬CSV저장_success
267290_로컬CSV저장_success
012320_로컬CSV저장_success
000050_로컬CSV저장_success
214390_로컬CSV저장_success
012610_로컬CSV저장_success
009140_로컬CSV저장_success
013580_로컬CSV저장_success
012200_로컬CSV저장_success
012205_로컬CSV저장_success
002140_로컬CSV저장_success
010130_로컬CSV저장_success
002240_로컬CSV저장_success
009290_로컬CSV저장_success
017040_로컬CSV저장_success
017900_로컬CSV저장_success
037710_로컬CSV저장_success
030610_로컬CSV저장_success
339770_로컬CSV저장_success
007690_로컬CSV저장_success
005320_로컬CSV저장_success
001140_로컬CSV저장_success
002720_로컬CSV저장_success
083420_로컬CSV저장_success
014530_로컬CSV저장_success
014280_로컬CSV저장_success
014285_로컬CSV저장_success
008870_로컬CSV저장_success
001570_로컬CSV저장_success
002990_로컬CSV저장_success
002995_로컬CSV저장_success
011780_로컬CSV저장_success
011785_로컬CSV저장_success
214330_로컬CSV저장_success
001210_로컬CSV저장_success
073240_로컬CSV저장_success
092440_로컬CSV저장_success
000270_로컬CSV저장_success
024110_로컬CSV저장_success
013700_로컬CSV저장_success
004540_로컬CSV저장_success
004545_로컬CSV저장_success
001260_로컬CSV저장_success
008350_로컬CSV저장_success
008355_로컬CSV저장_success
004270_로컬CSV저장_success
003920_로컬CSV저장_success
003925_로컬CSV저장_success
025860_로컬CSV저장_success
005720_로컬CSV저장_success
005725_로컬CSV저장_success
002350_로컬CSV저장_success
002355_로컬CSV저장_success
092790_로컬CSV저장_success
251270_로컬CSV저장_success
090350_로컬CSV저장_success
090355_로컬CSV저장_success
000320_로컬CSV저장_success
000325_로컬CSV저장_success
006280_로컬CSV저장_success
005250_로컬CSV저장_success
005257_로컬CSV저장_success
004370_로컬CSV저장_success
072710_로컬CSV저장_success
058730_로컬CSV저장_success
030210_로컬CSV저장_success
023590_로컬CSV저장_success
145210_로컬CSV저장_success
019680_로컬CSV저장_success
019685_로컬CSV저장_success
006370_로컬CSV저장_success
008060_로컬CSV저장_success
00806K_로컬CSV저장_success
353200_로컬CSV저장_success
35320K_로컬CSV저장_success
000490_로컬CSV저장_success
008110_로컬CSV저장_success
005750_로컬CSV저장_success
006570_로컬CSV저장_success
001680_로컬CSV저장_success
001685_로컬CSV저장_success
084690_로컬CSV저장_success
084695_로컬CSV저장_success
128820_로컬CSV저장_success
117580_로컬CSV저장_success
016710_로컬CSV저장_success
003540_로컬CSV저장_success
003547_로컬CSV저장_success
003545_로컬CSV저장_success
009190_로컬CSV저장_success
014160_로컬CSV저장_success
047040_로컬CSV저장_success
009320_로컬CSV저장_success
003090_로컬CSV저장_success
069620_로컬CSV저장_success
000430_로컬CSV저장_success

In [37]:
ticker_list = kor_ticker_list['ticker'].unique()

1394
1394
1394
1394
1394
1394
1394
1394
1394
1000
1394
1394
1394
1394
1394

KeyboardInterrupt

,date,open,high,low,close,volume,price_change_percentage,ticker,MA120,MA60,MA20,MA5,corp_name,market
0,2018-01-02,6980,6990,6850,6970,60294,0.000000,095570,NaN,NaN,NaN,NaN,AJ네트웍스,KOSPI
1,2018-01-03,6970,7000,6910,6920,45848,-0.717360,095570,NaN,NaN,NaN,NaN,AJ네트웍스,KOSPI
2,2018-01-04,6990,7100,6920,7070,53176,2.167630,095570,NaN,NaN,NaN,NaN,AJ네트웍스,KOSPI
3,2018-01-05,7080,7300,7040,7250,58573,2.545969,095570,NaN,NaN,NaN,NaN,AJ네트웍스,KOSPI
4,2018-01-08,7330,7330,7100,7130,47104,-1.655172,095570,NaN,NaN,NaN,7068.0,AJ네트웍스,KOSPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3198931,2023-08-21,6930,6930,6540,6600,35728,0.000000,238490,6885.750000,7241.666667,6513.5,6678.0,힘스,KOSDAQ
3198932,2023-08-22,6600,6700,6500,6600,13143,0.000000,238490,6888.416667,7246.166667,6502.0,6668.0,힘스,KOSDAQ
3198933,2023-08-23,6680,6690,6540,6560,16390,-0.606061,238490,6890.000000,7250.000000,6503.5,6606.0,힘스,KOSDAQ
3198934,2023-08-24,6600,6750,6570,6750,12363,2.896341,238490,6893.750000,7225.500000,6526.0,6622.0,힘스,KOSDAQ
3198935,2023-08-25,6650,6730,6550,6610,16696,-2.074074,238490,6895.916667,7196.666667,6533.5,6624.0,힘스,KOSDAQ

In [26]:
kor_ticker_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2620 entries, 0 to 2619
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     2620 non-null   object
 1   corp_name  2620 non-null   object
 2   market     2620 non-null   object
dtypes: object(3)
memory usage: 61.5+ KB

In [31]:
kor_stock_ohlcv[kor_stock_ohlcv['ticker'] == 238490]

,date,open,high,low,close,volume,price_change_percentage,ticker,MA120,MA60,MA20,MA5
3197542,2018-01-02,11971,11971,11470,11796,64519,-1.675419,238490,8697.716667,7995.100000,7180.30,7709.2
3197543,2018-01-03,11796,11896,11721,11821,43605,0.211936,238490,8711.725000,8038.450000,7407.85,8759.4
3197544,2018-01-04,11871,11996,11721,11721,44689,-0.845952,238490,8724.400000,8079.966667,7630.40,9749.6
3197545,2018-01-05,11570,11721,11245,11471,74859,-2.132924,238490,8736.908333,8117.483333,7843.95,10689.8
3197546,2018-01-08,11370,11445,10844,10870,103475,-5.239299,238490,8744.325000,8147.483333,8033.45,11535.8
...,...,...,...,...,...,...,...,...,...,...,...,...
3198931,2023-08-21,6930,6930,6540,6600,35728,0.000000,238490,6885.750000,7241.666667,6513.50,6678.0
3198932,2023-08-22,6600,6700,6500,6600,13143,0.000000,238490,6888.416667,7246.166667,6502.00,6668.0
3198933,2023-08-23,6680,6690,6540,6560,16390,-0.606061,238490,6890.000000,7250.000000,6503.50,6606.0
3198934,2023-08-24,6600,6750,6570,6750,12363,2.896341,238490,6893.750000,7225.500000,6526.00,6622.0
3198935,2023-08-25,6650,6730,6550,6610,16696,-2.074074,238490,6895.916667,7196.666667,6533.50,6624.0

In [25]:
kor_ticker_list[kor_ticker_list['ticker'] == '238490']

      ticker corp_name  market
2619  238490        힘스  KOSDAQ