In [1]:
from pykrx import stock
from pykrx import bond
import pandas as pd

import plotly.graph_objects as go
import plotly.express as px
import numpy as np

from datetime import datetime
from datetime import timedelta

import time

In [68]:
time.sleep(1)

In [20]:
type_list = ["금융투자","보험","투신","사모","은행","기타금융","연기금",
             "기관합계","기타법인","개인","외국인","기타외국인","전체"]

type_list_nm = ['financial_investment', 'insurance', 'investment',
             'private_equity', 'bank','other_finance', 'pension_fund', # 기관합계
             'institution_total',
                'other_corporation', # 기타 법인
                'individual',# 개인
                'foreigner', 
             'other_foreigner', # 기타외국인
             
]

In [26]:
today_date1 = "20230113"
today_date2 = "2023-01-13"

In [27]:
market_nm = 'KOSDAQ'
type_nm = '금융투자'

In [32]:
type_list = ["금융투자","보험","투신","사모","은행","기타금융","연기금",
             "기관합계","기타법인","개인","외국인","기타외국인","전체"]

total_df = pd.DataFrame()
for type_nm in type_list[:3]:
    df = stock.get_market_net_purchases_of_equities(today_date1, today_date1, 'ALL', type_nm)
    df = df.reset_index()
    df['type'] = type_nm
    df['date'] = today_date2

    total_df = pd.concat([total_df, df])


total_df.columns = ['ticker', 'corp_name', 
                    'sell_volume', 'buy_volume','net_buy_volume',
                    'sell_amount', 'buy_amount','net_buy_amount',
                   'type', 'date']

In [33]:
total_df

,ticker,corp_name,sell_volume,buy_volume,net_buy_volume,sell_amount,buy_amount,net_buy_amount,type,date
0,005930,삼성전자,1372188,1822478,450290,83463233700,110894236400,27431002700,금융투자,2023-01-13
1,005490,POSCO홀딩스,19668,56325,36657,5923857500,16932620000,11008762500,금융투자,2023-01-13
2,035420,NAVER,41213,94971,53758,8120892000,18809361500,10688469500,금융투자,2023-01-13
3,005380,현대차,55090,110702,55612,9307337000,18719581500,9412244500,금융투자,2023-01-13
4,000270,기아,54779,168261,113482,3578828000,10990706400,7411878400,금융투자,2023-01-13
...,...,...,...,...,...,...,...,...,...,...
1007,011170,롯데케미칼,16780,6025,-10755,3008457000,1082140500,-1926316500,투신,2023-01-13
1008,005930,삼성전자,110757,71281,-39476,6733845600,4339663600,-2394182000,투신,2023-01-13
1009,035900,JYP Ent.,47971,6810,-41161,3068505600,436686000,-2631819600,투신,2023-01-13
1010,207940,삼성바이오로직스,5663,1302,-4361,4610148000,1061671000,-3548477000,투신,2023-01-13
1011,000660,SK하이닉스,79492,22911,-56581,6855805400,1977740500,-4878064900,투신,2023-01-13

In [30]:
total_df.columns = ['ticker', 'corp_name', 
                    'sell_volume', 'buy_volume','net_buy_volume',
                    'sell_amount', 'buy_amount','net_buy_amount',
                   'type', 'date']

In [31]:
total_df

,ticker,corp_name,sell_volume,buy_volume,net_buy_volume,sell_amount,buy_amount,net_buy_amount,type,date
0,005930,삼성전자,1372188,1822478,450290,83463233700,110894236400,27431002700,금융투자,2023-01-13
1,005490,POSCO홀딩스,19668,56325,36657,5923857500,16932620000,11008762500,금융투자,2023-01-13
2,035420,NAVER,41213,94971,53758,8120892000,18809361500,10688469500,금융투자,2023-01-13
3,005380,현대차,55090,110702,55612,9307337000,18719581500,9412244500,금융투자,2023-01-13
4,000270,기아,54779,168261,113482,3578828000,10990706400,7411878400,금융투자,2023-01-13
...,...,...,...,...,...,...,...,...,...,...
2612,000547,흥국화재2우B,2092,2092,0,39511600,39511600,0,전체,2023-01-13
2613,000545,흥국화재우,588,588,0,3668100,3668100,0,전체,2023-01-13
2614,003280,흥아해운,674481,674481,0,997952605,997952605,0,전체,2023-01-13
2615,037440,희림,2626770,2626770,0,30634427350,30634427350,0,전체,2023-01-13
2616,238490,힘스,5886,5886,0,36625210,36625210,0,전체,2023-01-13

In [19]:
total_df_date = pd.DataFrame()
for i in range(3):
#     for i in range(len(market_ohlcv)):
# for date_nm in date_list[:10]:
    total_df = pd.DataFrame()
    for type_nm in type_list:

        date_nm =  market_ohlcv['날짜_2'][i]
        today_date2 = market_ohlcv['날짜'][i]

        df = stock.get_market_net_purchases_of_equities(date_nm, date_nm, 'ALL', type_nm)

        df['type'] = type_nm
        df['date'] = today_date2

        total_df = pd.concat([total_df, df])

    print(f'{today_date2}')

    total_df_date = pd.concat([total_df_date, total_df])

,티커,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금
0,086520,에코프로,4427,23019,18592,509358700,2647788800,2138430100
1,003100,선광,450,4900,4450,63023000,685145000,622122000
2,066970,엘앤에프,15434,18346,2912,2880984200,3427498100,546513900
3,078340,컴투스,2000,10620,8620,126523800,672865600,546341800
4,237690,에스티팜,2584,8125,5541,218611200,686331300,467720100
...,...,...,...,...,...,...,...,...
1031,361570,알비더블유,84233,2,-84231,1128038700,26900,-1128011800
1032,336570,원텍,506084,164274,-341810,2182799955,694955330,-1487844625
1033,095700,제넥신,164857,47232,-117625,2586671000,739791050,-1846879950
1034,032190,다우데이타,91470,32523,-58947,3478965850,1266605500,-2212360350
1035,041510,에스엠,94198,30581,-63617,7170339700,2328651100,-4841688600

In [21]:
        df = stock.get_market_net_purchases_of_equities(date_nm, date_nm, 'ALL', type_nm)

NameError: name 'market_ohlcv' is not defined

In [62]:
total_df_date = pd.DataFrame()
for i in range(3):
#     for i in range(len(market_ohlcv)):
# for date_nm in date_list[:10]:
    total_df = pd.DataFrame()
    for type_nm in type_list:

        date_nm =  market_ohlcv['날짜_2'][i]
        today_date2 = market_ohlcv['날짜'][i]

        df = stock.get_market_net_purchases_of_equities(date_nm, date_nm, 'ALL', type_nm)

        df['type'] = type_nm
        df['date'] = today_date2

        total_df = pd.concat([total_df, df])

    print(f'{today_date2}')

    total_df_date = pd.concat([total_df_date, total_df])

2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00

In [63]:
# total_df_date[(total_df_date['date'] == '2023-01-04') & (total_df_date['type'] == '기관합계')].head(3)
total_df_date

,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,type,date
티커,,,,,,,,,
003670,포스코케미칼,26521,49419,22898,5055539000,9361033000,4305494000,금융투자,2023-01-02
090430,아모레퍼시픽,18339,44278,25939,2426307000,5896556500,3470249500,금융투자,2023-01-02
251270,넷마블,42511,75193,32682,2439761200,4323101000,1883339800,금융투자,2023-01-02
323410,카카오뱅크,85162,126836,41674,2067192300,3072034550,1004842250,금융투자,2023-01-02
204320,HL만도,25385,48202,22817,1078830150,2047078050,968247900,금융투자,2023-01-02
...,...,...,...,...,...,...,...,...,...
024060,흥구석유,64074,64074,0,349148340,349148340,0,전체,2023-01-04
010240,흥국,65215,65215,0,362145540,362145540,0,전체,2023-01-04
189980,흥국에프엔비,152693,152693,0,400761000,400761000,0,전체,2023-01-04
037440,희림,251463,251463,0,2046237540,2046237540,0,전체,2023-01-04
238490,힘스,18898,18898,0,115053490,115053490,0,전체,2023-01-04

In [56]:
total_df_samsung = total_df_date[total_df_date['티커'] == '005930'].reset_index(drop = True)
total_df_samsung[total_df_samsung['type'] == '기관합계'].head(3)

,티커,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,type,date
7,005930,삼성전자,8814000,7240236,-1573764,486123570800,399797124800,-86326446000,기관합계,2023-01-03
20,005930,삼성전자,10620643,10461929,-158714,605171611100,596528465400,-8643145700,기관합계,2023-01-04

In [ ]:
fig = px.line(total_df_samsung, x="date", y="매수거래대금", color='type')
fig.show()