In [67]:
from pykrx import stock
from pykrx import bond
import pandas as pd

import plotly.graph_objects as go
import plotly.express as px
import numpy as np

from datetime import datetime
from datetime import timedelta

import time

In [68]:
time.sleep(1)

In [ ]:
type_list = ["금융투자","보험","투신","사모","은행","기타금융","연기금",
             "기관합계","기타법인","개인","외국인","기타외국인","전체"]


market_ohlcv = stock.get_market_ohlcv("20230101", "20240107", '005930')
market_ohlcv = market_ohlcv.reset_index()
market_ohlcv['날짜_2'] =  market_ohlcv['날짜'].astype(str).str.replace('-','')

In [57]:
len(market_ohlcv)

249

In [62]:
market_list = ['KOSPI', 'KOSDAQ']


for market_nm in market_list:
    total_df_date = pd.DataFrame()
    for i in range(3):
#     for i in range(len(market_ohlcv)):
    # for date_nm in date_list[:10]:
        total_df = pd.DataFrame()
        for type_nm in type_list:
            
            date_nm =  market_ohlcv['날짜_2'][i]
            today_date2 = market_ohlcv['날짜'][i]
            
            df = stock.get_market_net_purchases_of_equities(date_nm, date_nm, market_nm, type_nm)
            
            df['type'] = type_nm
            df['date'] = today_date2
            
            total_df = pd.concat([total_df, df])
            
        print(f'{today_date2}')
        
        total_df_date = pd.concat([total_df_date, total_df])

2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00

In [63]:
# total_df_date[(total_df_date['date'] == '2023-01-04') & (total_df_date['type'] == '기관합계')].head(3)
total_df_date

,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,type,date
티커,,,,,,,,,
003670,포스코케미칼,26521,49419,22898,5055539000,9361033000,4305494000,금융투자,2023-01-02
090430,아모레퍼시픽,18339,44278,25939,2426307000,5896556500,3470249500,금융투자,2023-01-02
251270,넷마블,42511,75193,32682,2439761200,4323101000,1883339800,금융투자,2023-01-02
323410,카카오뱅크,85162,126836,41674,2067192300,3072034550,1004842250,금융투자,2023-01-02
204320,HL만도,25385,48202,22817,1078830150,2047078050,968247900,금융투자,2023-01-02
...,...,...,...,...,...,...,...,...,...
024060,흥구석유,64074,64074,0,349148340,349148340,0,전체,2023-01-04
010240,흥국,65215,65215,0,362145540,362145540,0,전체,2023-01-04
189980,흥국에프엔비,152693,152693,0,400761000,400761000,0,전체,2023-01-04
037440,희림,251463,251463,0,2046237540,2046237540,0,전체,2023-01-04
238490,힘스,18898,18898,0,115053490,115053490,0,전체,2023-01-04

In [56]:
total_df_samsung = total_df_date[total_df_date['티커'] == '005930'].reset_index(drop = True)
total_df_samsung[total_df_samsung['type'] == '기관합계'].head(3)

,티커,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,type,date
7,005930,삼성전자,8814000,7240236,-1573764,486123570800,399797124800,-86326446000,기관합계,2023-01-03
20,005930,삼성전자,10620643,10461929,-158714,605171611100,596528465400,-8643145700,기관합계,2023-01-04

In [ ]:
fig = px.line(total_df_samsung, x="date", y="매수거래대금", color='type')
fig.show()