In [65]:
from pykrx import stock
from pykrx import bond
import pandas as pd

import plotly.graph_objects as go
import plotly.express as px
import numpy as np

from datetime import datetime
from datetime import timedelta

type_list = ["금융투자","보험","투신","사모","은행","기타금융","연기금",
             "기관합계","기타법인","개인","외국인","기타외국인","전체"]

In [76]:

total_df = pd.DataFrame()
total_df_date = pd.DataFrame()

for i in range(1, 10):
    now = datetime.now()
    now = now + timedelta(days=-i)
    today_date1 = now.strftime('%Y%m%d')
    today_date2 = now.strftime('%Y-%m-%d')


    for type_nm in type_list:
#         df = stock.get_market_net_purchases_of_equities(today_date1, today_date1, "ALL", type_nm)
        df = stock.get_market_net_purchases_of_equities(today_date1, today_date1, "KOSPI", type_nm)
        
        df['type'] = type_nm
        total_df = pd.concat([total_df, df])
        total_df['date'] = today_date2
        print(f'{type_nm} _ {today_date2}')
    
    total_df_date = pd.concat([total_df_date, total_df])

total_df_date = total_df_date.reset_index()    
#     total_df = total_df.reset_index()

금융투자 _ 2024-01-02
보험 _ 2024-01-02
투신 _ 2024-01-02
사모 _ 2024-01-02
은행 _ 2024-01-02
기타금융 _ 2024-01-02
연기금 _ 2024-01-02
기관합계 _ 2024-01-02
기타법인 _ 2024-01-02
개인 _ 2024-01-02
외국인 _ 2024-01-02
기타외국인 _ 2024-01-02
전체 _ 2024-01-02
금융투자 _ 2024-01-01
보험 _ 2024-01-01
투신 _ 2024-01-01
사모 _ 2024-01-01
은행 _ 2024-01-01
기타금융 _ 2024-01-01
연기금 _ 2024-01-01
기관합계 _ 2024-01-01
기타법인 _ 2024-01-01
개인 _ 2024-01-01
외국인 _ 2024-01-01
기타외국인 _ 2024-01-01
전체 _ 2024-01-01
금융투자 _ 2023-12-31
보험 _ 2023-12-31
투신 _ 2023-12-31
사모 _ 2023-12-31
은행 _ 2023-12-31
기타금융 _ 2023-12-31
연기금 _ 2023-12-31
기관합계 _ 2023-12-31
기타법인 _ 2023-12-31
개인 _ 2023-12-31
외국인 _ 2023-12-31
기타외국인 _ 2023-12-31
전체 _ 2023-12-31
금융투자 _ 2023-12-30
보험 _ 2023-12-30
투신 _ 2023-12-30
사모 _ 2023-12-30
은행 _ 2023-12-30
기타금융 _ 2023-12-30
연기금 _ 2023-12-30
기관합계 _ 2023-12-30
기타법인 _ 2023-12-30
개인 _ 2023-12-30
외국인 _ 2023-12-30
기타외국인 _ 2023-12-30
전체 _ 2023-12-30
금융투자 _ 2023-12-29
보험 _ 2023-12-29
투신 _ 2023-12-29
사모 _ 2023-12-29
은행 _ 2023-12-29
기타금융 _ 2023-12-29
연기금 _ 2023-12-29
기관합계 _ 2023-12-29
기타법인 _ 2023-12-29
개인 _ 2023-12-29
외국인 _ 2023-12-29
기타외국인 _ 2023-12-29
전체 _ 2023-12-29
금융투자 _ 2023-12-28
보험 _ 2023-12-28
투신 _ 2023-12-28
사모 _ 2023-12-28
은행 _ 2023-12-28
기타금융 _ 2023-12-28
연기금 _ 2023-12-28
기관합계 _ 2023-12-28
기타법인 _ 2023-12-28
개인 _ 2023-12-28
외국인 _ 2023-12-28
기타외국인 _ 2023-12-28
전체 _ 2023-12-28
금융투자 _ 2023-12-27
보험 _ 2023-12-27
투신 _ 2023-12-27
사모 _ 2023-12-27
은행 _ 2023-12-27
기타금융 _ 2023-12-27
연기금 _ 2023-12-27
기관합계 _ 2023-12-27
기타법인 _ 2023-12-27
개인 _ 2023-12-27
외국인 _ 2023-12-27
기타외국인 _ 2023-12-27
전체 _ 2023-12-27
금융투자 _ 2023-12-26
보험 _ 2023-12-26
투신 _ 2023-12-26
사모 _ 2023-12-26
은행 _ 2023-12-26
기타금융 _ 2023-12-26
연기금 _ 2023-12-26
기관합계 _ 2023-12-26
기타법인 _ 2023-12-26
개인 _ 2023-12-26
외국인 _ 2023-12-26
기타외국인 _ 2023-12-26
전체 _ 2023-12-26
금융투자 _ 2023-12-25
보험 _ 2023-12-25
투신 _ 2023-12-25
사모 _ 2023-12-25
은행 _ 2023-12-25
기타금융 _ 2023-12-25
연기금 _ 2023-12-25
기관합계 _ 2023-12-25
기타법인 _ 2023-12-25
개인 _ 2023-12-25
외국인 _ 2023-12-25
기타외국인 _ 2023-12-25
전체 _ 2023-12-25

In [77]:
total_df_date

,index,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,type,date
0,005930,삼성전자,929508.0,1596800.0,667292.0,7.357024e+10,1.270995e+11,5.352930e+10,금융투자,2024-01-02
1,068270,셀트리온,161411.0,240034.0,78623.0,3.648186e+10,5.519566e+10,1.871380e+10,금융투자,2024-01-02
2,035420,NAVER,24694.0,96705.0,72011.0,5.574925e+09,2.194552e+10,1.637060e+10,금융투자,2024-01-02
3,035720,카카오,60794.0,246394.0,185600.0,3.444408e+09,1.405898e+10,1.061457e+10,금융투자,2024-01-02
4,034220,LG디스플레이,47166.0,532725.0,485559.0,6.220747e+08,7.088260e+09,6.466185e+09,금융투자,2024-01-02
...,...,...,...,...,...,...,...,...,...,...
156567,079980,휴비스,128908.0,128908.0,0.0,5.290338e+08,5.290338e+08,0.000000e+00,전체,2023-12-25
156568,005010,휴스틸,402774.0,402774.0,0.0,2.019706e+09,2.019706e+09,0.000000e+00,전체,2023-12-25
156569,000540,흥국화재,21551.0,21551.0,0.0,6.524467e+07,6.524467e+07,0.000000e+00,전체,2023-12-25
156570,000545,흥국화재우,12369.0,12369.0,0.0,6.946714e+07,6.946714e+07,0.000000e+00,전체,2023-12-25
156571,003280,흥아해운,7686880.0,7686880.0,0.0,1.977790e+10,1.977790e+10,0.000000e+00,전체,2023-12-25

In [73]:
total_df = pd.DataFrame()
total_df_date = pd.DataFrame()

for i in range(1, 10):
    now = datetime.now()
    now = now + timedelta(days=-i)
    today_date1 = now.strftime('%Y%m%d')
    today_date2 = now.strftime('%Y-%m-%d')
    
    df = stock.get_market_net_purchases_of_equities(today_date1, today_date1, "KOSPI", '기관합계')
    df['date'] = today_date2
#     df = df.reset_index()
    
    total_df = pd.concat([total_df, df])

In [75]:
total_df_samsung2 = total_df[total_df['종목명'] == '삼성전자'].reset_index(drop = True)
total_df_samsung2

,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,date
0,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,2024-01-02
1,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,2023-12-28
2,삼성전자,8532706.0,7427100.0,-1105606.0,6.604597e+11,5.748910e+11,-8.556869e+10,2023-12-27
3,삼성전자,4013136.0,7977874.0,3964738.0,3.065038e+11,6.095120e+11,3.030082e+11,2023-12-26

In [ ]:

    
total_df_samsung1 = df[df['티커'] == '005930'].reset_index(drop = True)
# total_df_samsung1[total_df_samsung1['type'] == '기관합계']
total_df_samsung1

In [85]:
total_df_samsung[['index', '종목명', '매도거래량', '매수거래량', '순매수거래량', '매도거래대금', '매수거래대금',
       '순매수거래대금', 'type']].drop_duplicates()

,index,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,type
0,005930,삼성전자,929508.0,1596800.0,667292.0,7.357024e+10,1.270995e+11,5.352930e+10,금융투자
1,005930,삼성전자,126176.0,40441.0,-85735.0,1.002561e+10,3.206205e+09,-6.819402e+09,보험
2,005930,삼성전자,182243.0,382630.0,200387.0,1.443810e+10,3.028657e+10,1.584847e+10,투신
3,005930,삼성전자,246570.0,167704.0,-78866.0,1.954337e+10,1.327869e+10,-6.264676e+09,사모
4,005930,삼성전자,3778.0,25094.0,21316.0,2.987299e+08,1.987440e+09,1.688711e+09,은행
5,005930,삼성전자,31211.0,22487.0,-8724.0,2.472852e+09,1.787343e+09,-6.855097e+08,기타금융
6,005930,삼성전자,3978536.0,3827634.0,-150902.0,3.146630e+11,3.024596e+11,-1.220342e+10,연기금
7,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계
8,005930,삼성전자,123974.0,97198.0,-26776.0,9.805395e+09,7.692222e+09,-2.113174e+09,기타법인
9,005930,삼성전자,7544073.0,4698438.0,-2845635.0,5.974378e+11,3.714835e+11,-2.259543e+11,개인
10,005930,삼성전자,3951235.0,6272845.0,2321610.0,3.126814e+11,4.967625e+11,1.840812e+11,외국인
11,005930,삼성전자,25543.0,11576.0,-13967.0,2.021750e+09,9.146101e+08,-1.107140e+09,기타외국인
12,005930,삼성전자,17142847.0,17142847.0,0.0,1.356958e+12,1.356958e+12,0.000000e+00,전체
78,005930,삼성전자,655566.0,3471254.0,2815688.0,5.141840e+10,2.708244e+11,2.194060e+11,금융투자
79,005930,삼성전자,120331.0,75895.0,-44436.0,9.379337e+09,5.914321e+09,-3.465015e+09,보험
80,005930,삼성전자,173487.0,132642.0,-40845.0,1.351630e+10,1.036883e+10,-3.147472e+09,투신
81,005930,삼성전자,221643.0,67773.0,-153870.0,1.727839e+10,5.289878e+09,-1.198851e+10,사모
82,005930,삼성전자,40358.0,26049.0,-14309.0,3.161886e+09,2.043146e+09,-1.118740e+09,은행
83,005930,삼성전자,1329.0,18308.0,16979.0,1.041175e+08,1.426853e+09,1.322736e+09,기타금융
84,005930,삼성전자,4634706.0,4904539.0,269833.0,3.612312e+11,3.819738e+11,2.074263e+10,연기금
85,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계
86,005930,삼성전자,870251.0,71812.0,-798439.0,6.788990e+10,5.587224e+09,-6.230267e+10,기타법인
87,005930,삼성전자,5947290.0,2808839.0,-3138451.0,4.641883e+11,2.188021e+11,-2.453861e+11,개인
88,005930,삼성전자,5112986.0,6216836.0,1103850.0,3.985932e+11,4.857808e+11,8.718756e+10,외국인
89,005930,삼성전자,19589.0,3589.0,-16000.0,1.529764e+09,2.793599e+08,-1.250404e+09,기타외국인
90,005930,삼성전자,17797536.0,17797536.0,0.0,1.388291e+12,1.388291e+12,0.000000e+00,전체
117,005930,삼성전자,1383232.0,275713.0,-1107519.0,1.071604e+11,2.145803e+10,-8.570239e+10,금융투자
118,005930,삼성전자,258127.0,30315.0,-227812.0,2.001754e+10,2.356326e+09,-1.766121e+10,보험
119,005930,삼성전자,203400.0,220404.0,17004.0,1.578501e+10,1.715598e+10,1.370970e+09,투신
120,005930,삼성전자,331103.0,456457.0,125354.0,2.562943e+10,3.540929e+10,9.779860e+09,사모
121,005930,삼성전자,10070.0,684.0,-9386.0,7.843757e+08,5.302430e+07,-7.313514e+08,은행
122,005930,삼성전자,14080.0,6347.0,-7733.0,1.092287e+09,4.868910e+08,-6.053959e+08,기타금융
123,005930,삼성전자,6332694.0,6437180.0,104486.0,4.899906e+11,4.979714e+11,7.980826e+09,연기금
124,005930,삼성전자,8532706.0,7427100.0,-1105606.0,6.604597e+11,5.748910e+11,-8.556869e+10,기관합계
125,005930,삼성전자,259313.0,179581.0,-79732.0,2.008336e+10,1.390035e+10,-6.183008e+09,기타법인
126,005930,삼성전자,9266220.0,6326993.0,-2939227.0,7.185413e+11,4.899058e+11,-2.286355e+11,개인
127,005930,삼성전자,2557300.0,6703529.0,4146229.0,1.982871e+11,5.203474e+11,3.220604e+11,외국인
128,005930,삼성전자,35503.0,13839.0,-21664.0,2.746737e+09,1.073560e+09,-1.673178e+09,기타외국인
129,005930,삼성전자,20651042.0,20651042.0,0.0,1.600118e+12,1.600118e+12,0.000000e+00,전체
169,005930,삼성전자,46642.0,3551487.0,3504845.0,3.545858e+09,2.715048e+11,2.679590e+11,금융투자
170,005930,삼성전자,117735.0,131638.0,13903.0,9.011051e+09,1.007110e+10,1.060048e+09,보험
171,005930,삼성전자,61353.0,227673.0,166320.0,4.683413e+09,1.741982e+10,1.273640e+10,투신
172,005930,삼성전자,96121.0,653836.0,557715.0,7.334476e+09,5.001028e+10,4.267580e+10,사모
173,005930,삼성전자,37085.0,662.0,-36423.0,2.821760e+09,5.065070e+07,-2.771109e+09,은행
174,005930,삼성전자,4177.0,5113.0,936.0,3.192200e+08,3.912100e+08,7.199000e+07,기타금융
175,005930,삼성전자,3650023.0,3407465.0,-242558.0,2.787881e+11,2.600641e+11,-1.872392e+10,연기금
176,005930,삼성전자,4013136.0,7977874.0,3964738.0,3.065038e+11,6.095120e+11,3.030082e+11,기관합계
177,005930,삼성전자,227895.0,126313.0,-101582.0,1.739790e+10,9.637110e+09,-7.760793e+09,기타법인
178,005930,삼성전자,6692727.0,2343012.0,-4349715.0,5.113388e+11,1.789101e+11,-3.324287e+11,개인
179,005930,삼성전자,2218838.0,2707412.0,488574.0,1.692622e+11,2.065973e+11,3.733506e+10,외국인
180,005930,삼성전자,12313.0,10298.0,-2015.0,9.407131e+08,7.869405e+08,-1.537726e+08,기타외국인
181,005930,삼성전자,13164909.0,13164909.0,0.0,1.005443e+12,1.005443e+12,0.000000e+00,전체

In [78]:
total_df_samsung = total_df_date[total_df_date['index'] == '005930'].reset_index(drop = True)
total_df_samsung[total_df_samsung['type'] == '기관합계']

,index,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,type,date
7,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2024-01-02
20,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2024-01-01
33,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-31
46,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-30
59,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-29
72,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-28
85,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계,2023-12-28
98,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-27
111,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계,2023-12-27
124,005930,삼성전자,8532706.0,7427100.0,-1105606.0,6.604597e+11,5.748910e+11,-8.556869e+10,기관합계,2023-12-27
137,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-26
150,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계,2023-12-26
163,005930,삼성전자,8532706.0,7427100.0,-1105606.0,6.604597e+11,5.748910e+11,-8.556869e+10,기관합계,2023-12-26
176,005930,삼성전자,4013136.0,7977874.0,3964738.0,3.065038e+11,6.095120e+11,3.030082e+11,기관합계,2023-12-26
189,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-25
202,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계,2023-12-25
215,005930,삼성전자,8532706.0,7427100.0,-1105606.0,6.604597e+11,5.748910e+11,-8.556869e+10,기관합계,2023-12-25
228,005930,삼성전자,4013136.0,7977874.0,3964738.0,3.065038e+11,6.095120e+11,3.030082e+11,기관합계,2023-12-25

In [70]:
total_df_samsung[total_df_samsung['type'] == '기관합계']

,index,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,type,date
7,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2024-01-02
20,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2024-01-01
33,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-31
46,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-30
59,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-29
72,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-28
85,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계,2023-12-28
98,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-27
111,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계,2023-12-27
124,005930,삼성전자,8532706.0,7427100.0,-1105606.0,6.604597e+11,5.748910e+11,-8.556869e+10,기관합계,2023-12-27
137,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-26
150,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계,2023-12-26
163,005930,삼성전자,8532706.0,7427100.0,-1105606.0,6.604597e+11,5.748910e+11,-8.556869e+10,기관합계,2023-12-26
176,005930,삼성전자,4013136.0,7977874.0,3964738.0,3.065038e+11,6.095120e+11,3.030082e+11,기관합계,2023-12-26
189,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-25
202,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계,2023-12-25
215,005930,삼성전자,8532706.0,7427100.0,-1105606.0,6.604597e+11,5.748910e+11,-8.556869e+10,기관합계,2023-12-25
228,005930,삼성전자,4013136.0,7977874.0,3964738.0,3.065038e+11,6.095120e+11,3.030082e+11,기관합계,2023-12-25

In [48]:

total_df = pd.DataFrame()

for type_nm in type_list:
    df = stock.get_market_net_purchases_of_equities('20231227', '20231227', "KOSPI", '기관합계')
    df['type'] = type_nm
    total_df = pd.concat([total_df, df])
    total_df['date'] = today_date2

total_df = pd.concat([total_df, total_df])
total_df = total_df.reset_index()

In [55]:
df = stock.get_market_net_purchases_of_equities('20231227', '20231227', "KOSPI", '기관합계')

In [58]:
# df[df['종목명'] == '삼성전자']
type_list

['금융투자',
 '보험',
 '투신',
 '사모',
 '은행',
 '기타금융',
 '연기금',
 '기관합계',
 '기타법인',
 '개인',
 '외국인',
 '기타외국인',
 '전체']

In [47]:
total_df.sort_values(['type', '티커'])

,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,type,date
티커,,,,,,,,,
000020,동화약품,3702,221,-3481,36734480,2199000,-34535480,개인,2023-12-25
000020,동화약품,3702,221,-3481,36734480,2199000,-34535480,개인,2023-12-25
000040,KR모터스,0,110,110,0,38060,38060,개인,2023-12-25
000040,KR모터스,0,110,110,0,38060,38060,개인,2023-12-25
000050,경방,1004,276,-728,8519600,2441460,-6078140,개인,2023-12-25
...,...,...,...,...,...,...,...,...,...
465770,STX그린로지스,1,15,14,12270,184160,171890,투신,2023-12-25
900140,엘브이엠씨홀딩스,3224,3224,0,8052450,8044920,-7530,투신,2023-12-25
900140,엘브이엠씨홀딩스,3224,3224,0,8052450,8044920,-7530,투신,2023-12-25
950210,프레스티지바이오파마,1929,0,-1929,18011240,0,-18011240,투신,2023-12-25
950210,프레스티지바이오파마,1929,0,-1929,18011240,0,-18011240,투신,2023-12-25

In [22]:
total_df

,티커,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,type
0,005930,삼성전자,929508,1596800,667292,73570244800,127099542700,53529297900,금융투자
1,068270,셀트리온,161411,240034,78623,36481861500,55195657500,18713796000,금융투자
2,035420,NAVER,24694,96705,72011,5574925000,21945522500,16370597500,금융투자
3,035720,카카오,60794,246394,185600,3444407500,14058981200,10614573700,금융투자
4,034220,LG디스플레이,47166,532725,485559,622074680,7088259840,6466185160,금융투자
...,...,...,...,...,...,...,...,...,...
20518,000540,흥국화재,10553,10553,0,32363710,32363710,0,전체
20519,000545,흥국화재우,6037,6037,0,34559140,34559140,0,전체
20520,003280,흥아해운,2803849,2803849,0,7091583290,7091583290,0,전체
20521,037440,희림,126773,126773,0,974009740,974009740,0,전체
20522,238490,힘스,64726,64726,0,448281170,448281170,0,전체

In [61]:
total_df_samsung = total_df_date[total_df_date['index'] == '005930'].reset_index(drop = True)
total_df_samsung[total_df_samsung['type'] == '기관합계']

In [53]:
# total_df_samsung = total_df_date[total_df_date['index'] == '005930'].reset_index(drop = True)
total_df_samsung = total_df[total_df['티커'] == '005930'].reset_index(drop = True)

In [62]:
total_df_samsung[total_df_samsung['type'] == '기관합계']

,index,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금,type,date
7,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2024-01-02
20,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2024-01-01
33,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-31
46,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-30
59,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-29
72,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-28
85,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계,2023-12-28
98,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-27
111,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계,2023-12-27
124,005930,삼성전자,8532706.0,7427100.0,-1105606.0,6.604597e+11,5.748910e+11,-8.556869e+10,기관합계,2023-12-27
137,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-26
150,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계,2023-12-26
163,005930,삼성전자,8532706.0,7427100.0,-1105606.0,6.604597e+11,5.748910e+11,-8.556869e+10,기관합계,2023-12-26
176,005930,삼성전자,4013136.0,7977874.0,3964738.0,3.065038e+11,6.095120e+11,3.030082e+11,기관합계,2023-12-26
189,005930,삼성전자,5498022.0,6062790.0,564768.0,4.350119e+11,4.801054e+11,4.509347e+10,기관합계,2023-12-25
202,005930,삼성전자,5847420.0,8696460.0,2849040.0,4.560896e+11,6.778412e+11,2.217516e+11,기관합계,2023-12-25
215,005930,삼성전자,8532706.0,7427100.0,-1105606.0,6.604597e+11,5.748910e+11,-8.556869e+10,기관합계,2023-12-25
228,005930,삼성전자,4013136.0,7977874.0,3964738.0,3.065038e+11,6.095120e+11,3.030082e+11,기관합계,2023-12-25

In [ ]:
fig = px.line(total_df_samsung, x="date", y="매수거래대금", color='type')
fig.show()