In [1]:
import math
import numpy as np
import pandas as pd
import os
import glob

from pykrx import stock
from pykrx import bond

import time
from time import sleep
from datetime import datetime
from datetime import timedelta

from pyarrow import csv
import pyarrow as pa
import pyarrow.parquet as pq

from ta.trend import MACD
from ta.momentum import StochasticOscillator

import psycopg2 as pg2
from sqlalchemy import create_engine

from plotly.subplots import make_subplots
import plotly.express as px
import plotly.graph_objects as go

from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud import storage


import warnings
warnings.filterwarnings('ignore')

# 경로 변경
os.chdir('/home/shjj08choi4/finance_mlops')


# 서비스 계정 키 JSON 파일 경로
key_path = glob.glob("key_value/*.json")[0]

# Credentials 객체 생성
credentials = service_account.Credentials.from_service_account_file(key_path)

# 빅쿼리 정보
project_id = 'owenchoi-404302'
dataset_id = 'finance_mlops'


# BigQuery 클라이언트 객체 생성
client = bigquery.Client(credentials = credentials, 
                         project = credentials.project_id)


# GCP 클라이언트 객체 생성
storage_client = storage.Client(credentials = credentials,
                         project = credentials.project_id)
bucket_name = 'finance-mlops-proj'    # 서비스 계정 생성한 bucket 이름 입력

# Postgresql 연결
db_connect_info = pd.read_csv('key_value/db_connect_info.csv')
username = db_connect_info['username'][0]
password = db_connect_info['password'][0]
host = db_connect_info['host'][0]
database = db_connect_info['database'][0]
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:5432/{database}')



now = datetime.now()
# now = now + timedelta(days=-2)
today_date1 = now.strftime('%Y%m%d')
today_date2 = now.strftime('%Y-%m-%d')
today_date_time_csv = now.strftime("%Y%m%d_%H%M")

today_date1 = '2024010'
today_date2 = '2023-01-07'

today_date1 = 'reset'

In [2]:
now = datetime.now()
print(now)

2024-01-08 10:00:20.707301

In [3]:
file_name = 'kor_stock_ohlcv'
if not os.path.exists(f'data_crawler/cleaning/{file_name}'):
    os.makedirs(f'data_crawler/cleaning/{file_name}')

In [4]:
sql = f"""
select 
  `date`,
  open, 
  high, 
  low, 
  close, 
  volume,
  price_change_percentage,
  `{project_id}.{dataset_id}.kor_stock_ohlcv`.ticker,
  corp_name, 
  market 
from `{project_id}.{dataset_id}.kor_stock_ohlcv`
left join  `{project_id}.{dataset_id}.kor_ticker_list`
on `{project_id}.{dataset_id}.kor_stock_ohlcv`.ticker = `{project_id}.{dataset_id}.kor_ticker_list`.ticker
order by date asc
"""

In [5]:

# 데이터 조회 쿼리 실행 결과
query_job = client.query(sql)

# 데이터프레임 변환
ohlcv_df_raw = query_job.to_dataframe()

In [13]:
len(ohlcv_df_raw)

1877628

In [8]:
len(ohlcv_df_raw['ticker'].unique())

1379

In [16]:
ohlcv_df_raw = ohlcv_df_raw.fillna(0)
ticker_list = ohlcv_df_raw['ticker'].unique()

### 주가 지표

In [234]:
df_raw_total = pd.DataFrame()
df_raw_anal_total = pd.DataFrame()

for ticker_nm in ticker_list[:5]:
    df_raw = ohlcv_df_raw[ohlcv_df_raw['ticker'] == ticker_nm].reset_index(drop = True)

    ######################################################################
    # 보조지표
    ######################################################################

    # 이동평균선
    df_raw['MA5'] = df_raw['close'].rolling(window=5).mean()
    df_raw['MA20'] = df_raw['close'].rolling(window=20).mean()
    df_raw['MA60'] = df_raw['close'].rolling(window=60).mean()
    df_raw['MA120'] = df_raw['close'].rolling(window=120).mean()

    # 볼린저밴드
    std = df_raw['close'].rolling(20).std(ddof=0)

    df_raw['upper'] = df_raw['MA20'] + 2 * std
    df_raw['lower'] = df_raw['MA20'] - 2 * std

    # MACD
    # MACD
    macd = MACD(close=df_raw['close'],
                window_slow=26,
                window_fast=12,
                window_sign=9)


    df_raw['MACD_DIFF'] = macd.macd_diff()
    df_raw['MACD'] = macd.macd()
    df_raw['MACD_Signal'] = macd.macd_signal()

    # RSI
    df_raw['변화량'] = df_raw['close'] - df_raw['close'].shift(1)
    df_raw['변화량'] = df_raw['변화량'].astype('float64')
    df_raw['상승폭'] = np.where(df_raw['변화량']>=0, df_raw['변화량'], 0)
    df_raw['하락폭'] = np.where(df_raw['변화량'] <0, df_raw['변화량'].abs(), 0)

    # welles moving average
    df_raw['AU'] = df_raw['상승폭'].ewm(alpha=1/14, min_periods=14).mean()
    df_raw['AD'] = df_raw['하락폭'].ewm(alpha=1/14, min_periods=14).mean()
    df_raw['RSI'] = df_raw['AU'] / (df_raw['AU'] + df_raw['AD']) * 100

    df_raw['MA5-20'] = df_raw['MA5'] - df_raw['MA20']
    df_raw['MA20-60'] = df_raw['MA20'] - df_raw['MA60']
    df_raw['MA60-120'] = df_raw['MA60'] - df_raw['MA120']


    ######################################################################
    # 보조지표 분석
    ######################################################################
    df_raw_anal = df_raw[['date','ticker', 'corp_name','market', 'close']]

    # 골든크로스
    # 골든 크로스 5-20
    # 음수에서 양수로 바뀌는 모든 인덱스 찾기
    idx_5_20_gold_cross = [idx for idx in range(len(df_raw)) if df_raw["MA5-20"].iloc[idx] > 0 and df_raw["MA5-20"].iloc[idx - 1] <= 0]

    # 데드 크로스 5-20
    # 양수에서 음수로 바뀌는 모든 인덱스 찾기
    idx_5_20_dead_cross = [idx for idx in range(len(df_raw)) if df_raw["MA5-20"].iloc[idx] < 0 and df_raw["MA5-20"].iloc[idx - 1] >= 0]

    # 골든 크로스 20-60
    # 음수에서 양수로 바뀌는 모든 인덱스 찾기
    idx_20_60_gold_cross = [idx for idx in range(len(df_raw)) if df_raw["MA20-60"].iloc[idx] > 0 and df_raw["MA20-60"].iloc[idx - 1] <= 0]

    # 골든 크로스 20-60
    # 음수에서 양수로 바뀌는 모든 인덱스 찾기
    idx_20_60_dead_cross = [idx for idx in range(len(df_raw)) if df_raw["MA20-60"].iloc[idx] < 0 and df_raw["MA20-60"].iloc[idx - 1] >= 0]


    df_raw_anal.loc[:, '5_20_cross'] = '-'
    df_raw_anal.loc[idx_5_20_gold_cross,'5_20_cross'] = '골든크로스(매수)'
    df_raw_anal.loc[idx_5_20_dead_cross,'5_20_cross'] = '데드크로스(매도)'

    df_raw_anal.loc[:, '20_60_cross'] = '-'
    df_raw_anal.loc[idx_20_60_gold_cross,'20_60_cross'] = '골든크로스(매수)'
    df_raw_anal.loc[idx_20_60_dead_cross,'20_60_cross'] = '데드크로스(매도)'


    # 정배열 역배열
    ascending_sq  = (df_raw['MA5-20'] > 0) & \
    (df_raw['MA20-60'] > 0) & \
    (df_raw['MA60-120'] > 0)

    descending_sq  = (df_raw['MA5-20'] < 0) & \
    (df_raw['MA20-60'] < 0) & \
    (df_raw['MA60-120'] < 0)

    df_raw_anal.loc[:,'array'] = '-'
    df_raw_anal.loc[ascending_sq,'array'] = '정배열(매수)'
    df_raw_anal.loc[descending_sq,'array'] = '역배열(매도)'


    # 볼린저밴드
    df_raw['close'] = df_raw['close'].astype('float64')
    down_reg_sq = df_raw['upper'] - df_raw['close']
    top_reg_sq  = df_raw['lower'] - df_raw['close']

    down_reg = [idx for idx in range(1,len(df_raw)) if down_reg_sq[idx] > 0 and down_reg_sq[idx-1] <= 0]
    top_reg = [idx for idx in range(1,len(df_raw)) if top_reg_sq[idx] < 0 and top_reg_sq[idx-1] >= 0]

    df_raw_anal.loc[:,'Bollinger_band'] = '-'
    df_raw_anal.loc[down_reg,'Bollinger_band'] = '하향회귀(매도)'
    df_raw_anal.loc[top_reg,'Bollinger_band'] = '상향회귀(매수)'


    # MACD
    signal_down_cross = [idx for idx in range(1,len(df_raw)) if df_raw['MACD_DIFF'][idx] < 0 and df_raw['MACD_DIFF'][idx-1] >= 0]
    signal_top_corss = [idx for idx in range(1,len(df_raw)) if df_raw['MACD_DIFF'][idx] > 0 and df_raw['MACD_DIFF'][idx-1] <= 0]

    df_raw_anal.loc[:,'MACD'] = '-'
    df_raw_anal.loc[signal_down_cross,'MACD'] = '하향돌파(매도)'
    df_raw_anal.loc[signal_top_corss,'MACD'] = '상향돌파(매수)'

    # RSI
    down_reg = [idx for idx in range(1,len(df_raw)) if df_raw['RSI'][idx] > 70 and df_raw['RSI'][idx-1] <= 70]
    top_reg = [idx for idx in range(1,len(df_raw)) if df_raw['RSI'][idx] < 30 and df_raw['RSI'][idx-1] >= 30]


    df_raw_anal.loc[:,'RSI'] = '-'
    df_raw_anal.loc[down_reg,'RSI'] = 'RSI 상단 하향돌파(매도)'
    df_raw_anal.loc[top_reg,'RSI'] = 'RSI 하단 상향 돌파(매수)'


    df_raw_total = pd.concat([df_raw_total, df_raw])
    df_raw_anal_total = pd.concat([df_raw_anal_total, df_raw_anal])

    print(ticker_nm)


df_raw_total = df_raw_total.reset_index(drop = True)
df_raw_anal_total = df_raw_anal_total.reset_index(drop = True)

001045
001530
001040
079160
005830

In [251]:
df_raw_total.head(3)

,date,open,high,low,close,volume,price_change_percentage,ticker,corp_name,market,...,MACD_Signal,변화량,상승폭,하락폭,AU,AD,RSI,MA5-20,MA20-60,MA60-120
0,2018-01-02 00:00:00+00:00,68519,68519,66664,66930.0,2522,-1.686301,001045,CJ우,KOSPI,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-03 00:00:00+00:00,68254,68254,66488,67106.0,2501,0.262961,001045,CJ우,KOSPI,...,NaN,176.0,176.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-04 00:00:00+00:00,67636,68077,65870,66665.0,8353,-0.657169,001045,CJ우,KOSPI,...,NaN,-441.0,0.0,441.0,NaN,NaN,NaN,NaN,NaN,NaN

In [250]:
df_raw_anal_total.head(3)

,date,ticker,corp_name,market,close,5_20_cross,20_60_cross,array,Bollinger_band,MACD,RSI
0,2018-01-02 00:00:00+00:00,001045,CJ우,KOSPI,66930,-,-,-,-,-,-
1,2018-01-03 00:00:00+00:00,001045,CJ우,KOSPI,67106,-,-,-,-,-,-
2,2018-01-04 00:00:00+00:00,001045,CJ우,KOSPI,66665,-,-,-,-,-,-

In [ ]:

df_raw_total_2 = df_raw_total[df_raw_total['date'] > '2023-01-01'].reset_index(drop = True)
df_raw_anal_total_2 = df_raw_anal_total[df_raw_anal_total['date'] > '2023-01-01'].reset_index(drop = True)

In [243]:

for market_nm in ['KOSPI', 'KOSDAQ']:
    df_raw_total_3 = df_raw_total_2[df_raw_total_2['market'] == market_nm].reset_index(drop = True)
    df_raw_anal_total_3 = df_raw_anal_total_2[df_raw_anal_total_2['market'] == market_nm].reset_index(drop = True)

    table_from_pandas = pa.Table.from_pandas(df_raw_total_3,preserve_index = False)
    pq.write_table(table_from_pandas, f'data_crawler/cleaning/kor_stock_ohlcv/df_raw_total_2_{market_nm}_{today_date1}.parquet')

    table_from_pandas = pa.Table.from_pandas(df_raw_anal_total_3,preserve_index = False)
    pq.write_table(table_from_pandas, f'data_crawler/cleaning/kor_stock_ohlcv/df_raw_anal_total_2_{market_nm}_{today_date1}.parquet')
    

    # Google Storage 적재
    source_file_name = f'data_crawler/cleaning/kor_stock_ohlcv/df_raw_total_2_{market_nm}_{today_date1}.parquet'    # GCP에 업로드할 파일 절대경로
    destination_blob_name = f'data_crawler/cleaning/kor_stock_ohlcv/df_raw_total_2_{market_nm}_{today_date1}.parquet'    # 업로드할 파일을 GCP에 저장할 때의 이름
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(destination_blob_name)
    blob.upload_from_filename(source_file_name)


    # Google Storage 적재
    source_file_name = f'data_crawler/cleaning/kor_stock_ohlcv/df_raw_anal_total_2_{market_nm}_{today_date1}.parquet'    # GCP에 업로드할 파일 절대경로
    destination_blob_name = f'data_crawler/cleaning/kor_stock_ohlcv/df_raw_anal_total_2_{market_nm}_{today_date1}.parquet'    # 업로드할 파일을 GCP에 저장할 때의 이름
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(destination_blob_name)
    blob.upload_from_filename(source_file_name)

,date,ticker,corp_name,market,close,5_20_cross,20_60_cross,array,Bollinger_band,MACD,RSI
0,2023-01-02 00:00:00+00:00,001045,CJ우,KOSPI,49300,데드크로스(매도),-,-,-,-,-
1,2023-01-03 00:00:00+00:00,001045,CJ우,KOSPI,49000,-,-,-,-,-,-
2,2023-01-04 00:00:00+00:00,001045,CJ우,KOSPI,48650,-,-,-,-,-,-
3,2023-01-05 00:00:00+00:00,001045,CJ우,KOSPI,48200,-,-,-,-,-,-
4,2023-01-06 00:00:00+00:00,001045,CJ우,KOSPI,48350,-,-,-,상향회귀(매수),-,-
...,...,...,...,...,...,...,...,...,...,...,...
1240,2023-12-28 00:00:00+00:00,005830,DB손해보험,KOSPI,83700,-,-,-,-,-,-
1241,2024-01-02 00:00:00+00:00,005830,DB손해보험,KOSPI,81600,-,-,-,-,-,-
1242,2024-01-03 00:00:00+00:00,005830,DB손해보험,KOSPI,80900,-,-,-,-,-,-
1243,2024-01-04 00:00:00+00:00,005830,DB손해보험,KOSPI,79200,-,-,-,-,-,-
1244,2024-01-05 00:00:00+00:00,005830,DB손해보험,KOSPI,79100,-,-,-,-,-,-

In [254]:
def rank_per(df1, rank_count):
    max_value_1 = df1[df1['market'] == 'KOSPI'].sort_values(by ='price_change_percentage', ascending = False).head(rank_count)
    max_value_2 = df1[df1['market'] == 'KOSDAQ'].sort_values(by ='price_change_percentage', ascending = False).head(rank_count)
    min_value_1 = df1[df1['market'] == 'KOSPI'].sort_values(by ='price_change_percentage', ascending = True).head(rank_count)
    min_value_2 = df1[df1['market'] == 'KOSDAQ'].sort_values(by ='price_change_percentage', ascending = True).head(rank_count)
    
    total = pd.concat([max_value_1, max_value_2, 
               min_value_1, min_value_2
              ])
    total = total.reset_index(drop = True)
    return total

### 주가 등락 하루

In [261]:
df = stock.get_market_ohlcv("20240105", market="ALL")

In [263]:
df2 = rank_per(ohlcv_df_raw[ohlcv_df_raw['date'] == '2024-01-05'], 5)

### 주가 등락률 일주일 / 한달 / 1년

In [56]:
# df1_set =  ohlcv_df_raw[ohlcv_df_raw['date'] > '2023-10-01'].groupby("ticker")['date'].max().reset_index()
df1_set =  ohlcv_df_raw.groupby("ticker")['date'].max().reset_index()
df1_set = df1_set[['ticker', 'date']]
df1_set = pd.merge(df1_set, ohlcv_df_raw[['ticker', 'date', 'close', 'corp_name']],
              on = ['ticker', 'date'], 
              how = 'left')

diff_date_list = [30, 90, 180, 240, 365]
for diff_date in diff_date_list:
# diff_date = 240
    now = datetime.now()
    now = now + timedelta(days=-diff_date)
    set_date = now.strftime('%Y-%m-%d')
    df1 =  ohlcv_df_raw[ohlcv_df_raw['date'] > set_date].groupby("ticker")['date'].min().reset_index()

    
    df1 = df1[['ticker','date']]
    df1 = pd.merge(df1, ohlcv_df_raw[['ticker', 'date', 'close']],
                  on = ['ticker', 'date'], 
                  how = 'left')
    
    df1.columns = ['ticker', f'date_{diff_date}', f'close_{diff_date}']

    df1_set = pd.merge(df1_set, df1, 
                      on = 'ticker', 
                      how = 'left')

    df1_set[f'per_{diff_date}'] = (df1_set['close'] - df1_set[f'close_{diff_date}']) / df1_set[f'close_{diff_date}'] * 100


df1_set_2 = df1_set[['date','ticker','per_30', 'per_90', 'per_180', 'per_240', 'per_365', 'corp_name']]

df_per_total = pd.DataFrame()
per_set = ['per_30', 'per_90', 'per_180', 'per_240', 'per_365']
ascending_list = [True, False]

for per_value in per_set:
    for ascending_value in ascending_list:
        df_per =  df1_set_2.sort_values(by = per_value, ascending = ascending_value).head()
        df_per['type'] = per_value
        df_per['rank'] = range(1,6)
        df_per['음/양'] = ascending_value
        df_per_total = pd.concat([df_per_total, df_per])

df_per_total = df_per_total.drop_duplicates()     
df_per_total = df_per_total.reset_index(drop = True)

In [58]:
df_per_total[df_per_total['type'] == 'per_30'][['per_30', 'corp_name', 'rank']]

       per_30 corp_name  rank
0       -45.0   티와이홀딩스우     1
1     -34.625      DS단석     2
2  -33.481153    한국앤컴퍼니     3
3  -33.216374     흥국화재우     4
4  -32.876712    티와이홀딩스     5
5   170.44335       네오셈     1
6  107.083333   LS머트리얼즈     2
7   81.609195     골든센츄리     3
8   70.133588    디티앤씨알오     4
9   65.357143     제주반도체     5

In [59]:
df_per_total

,date,ticker,per_30,per_90,per_180,per_240,per_365,corp_name,type,rank,음/양
0,2024-01-05 00:00:00+00:00,36328K,-45.0,5.191257,-15.938865,-28.96679,-34.468085,티와이홀딩스우,per_30,1,True
1,2024-01-05 00:00:00+00:00,017860,-34.625,-34.625,-34.625,-34.625,-34.625,DS단석,per_30,2,True
2,2024-01-05 00:00:00+00:00,000240,-33.481153,37.614679,28.314799,17.370892,10.701107,한국앤컴퍼니,per_30,3,True
3,2024-01-05 00:00:00+00:00,000545,-33.216374,11.523438,6.529851,1.241135,-10.07874,흥국화재우,per_30,4,True
4,2024-01-05 00:00:00+00:00,363280,-32.876712,-26.865672,-41.278296,-59.836066,-58.785047,티와이홀딩스,per_30,5,True
5,2024-01-05 00:00:00+00:00,253590,170.44335,182.989691,166.828676,269.69697,197.964722,네오셈,per_30,1,False
6,2024-01-05 00:00:00+00:00,417200,107.083333,107.083333,107.083333,107.083333,107.083333,LS머트리얼즈,per_30,2,False
7,2024-01-05 00:00:00+00:00,900280,81.609195,12.056738,-26.511628,-34.439834,-54.857143,골든센츄리,per_30,3,False
8,2024-01-05 00:00:00+00:00,383930,70.133588,273.012552,253.769841,224.181818,266.872428,디티앤씨알오,per_30,4,False
9,2024-01-05 00:00:00+00:00,080220,65.357143,347.342995,271.514544,300.865801,368.268015,제주반도체,per_30,5,False
10,2024-01-05 00:00:00+00:00,006740,-5.317324,-94.152542,-89.643527,-83.413462,-53.504043,영풍제지,per_90,1,True
11,2024-01-05 00:00:00+00:00,000300,-21.463415,-76.392962,-84.075173,-82.480958,-79.118029,대유플러스,per_90,2,True
12,2024-01-05 00:00:00+00:00,161570,-17.19457,-72.018349,-87.980296,-75.6,-63.58209,THE MIDONG,per_90,3,True
13,2024-01-05 00:00:00+00:00,175140,-11.204819,-68.369099,-62.66464,-53.764115,-34.313725,인포마크,per_90,4,True
14,2024-01-05 00:00:00+00:00,317240,-15.063521,-67.364017,-73.544375,-11.698113,-26.415094,TS트릴리온,per_90,5,True
15,2024-01-05 00:00:00+00:00,084695,-15.102041,447.368421,371.121178,363.768116,355.142232,대상홀딩스우,per_90,1,False
16,2024-01-05 00:00:00+00:00,080220,65.357143,347.342995,271.514544,300.865801,368.268015,제주반도체,per_90,2,False
17,2024-01-05 00:00:00+00:00,383930,70.133588,273.012552,253.769841,224.181818,266.872428,디티앤씨알오,per_90,3,False
18,2024-01-05 00:00:00+00:00,450080,43.366619,251.398601,251.398601,251.398601,251.398601,에코프로머티,per_90,4,False
19,2024-01-05 00:00:00+00:00,004835,-21.724138,216.376307,259.60396,218.038529,209.369676,덕성우,per_90,5,False
20,2024-01-05 00:00:00+00:00,006740,-5.317324,-94.152542,-89.643527,-83.413462,-53.504043,영풍제지,per_180,1,True
21,2024-01-05 00:00:00+00:00,161570,-17.19457,-72.018349,-87.980296,-75.6,-63.58209,THE MIDONG,per_180,2,True
22,2024-01-05 00:00:00+00:00,000300,-21.463415,-76.392962,-84.075173,-82.480958,-79.118029,대유플러스,per_180,3,True
23,2024-01-05 00:00:00+00:00,245620,-12.205567,-58.79397,-75.609756,-72.61189,-75.536993,EDGC,per_180,4,True
24,2024-01-05 00:00:00+00:00,060900,10.27441,-25.194805,-74.131737,-65.577689,-73.250774,DGP,per_180,5,True
25,2024-01-05 00:00:00+00:00,084695,-15.102041,447.368421,371.121178,363.768116,355.142232,대상홀딩스우,per_180,1,False
26,2024-01-05 00:00:00+00:00,080220,65.357143,347.342995,271.514544,300.865801,368.268015,제주반도체,per_180,2,False
27,2024-01-05 00:00:00+00:00,004835,-21.724138,216.376307,259.60396,218.038529,209.369676,덕성우,per_180,3,False
28,2024-01-05 00:00:00+00:00,383930,70.133588,273.012552,253.769841,224.181818,266.872428,디티앤씨알오,per_180,4,False
29,2024-01-05 00:00:00+00:00,450080,43.366619,251.398601,251.398601,251.398601,251.398601,에코프로머티,per_180,5,False
30,2024-01-05 00:00:00+00:00,035290,-1.545595,-22.031824,-61.205847,-93.480041,-89.017241,골드앤에스,per_240,1,True
31,2024-01-05 00:00:00+00:00,001070,-1.353014,-15.221987,-37.636081,-84.839319,-84.457364,대한방직,per_240,2,True
32,2024-01-05 00:00:00+00:00,006740,-5.317324,-94.152542,-89.643527,-83.413462,-53.504043,영풍제지,per_240,3,True
33,2024-01-05 00:00:00+00:00,000300,-21.463415,-76.392962,-84.075173,-82.480958,-79.118029,대유플러스,per_240,4,True
34,2024-01-05 00:00:00+00:00,004890,-0.750268,-7.768924,-24.098361,-78.858447,-76.010363,동일산업,per_240,5,True
35,2024-01-05 00:00:00+00:00,022100,26.086957,21.314741,141.188119,413.924051,875.961538,포스코DX,per_240,1,False
36,2024-01-05 00:00:00+00:00,084695,-15.102041,447.368421,371.121178,363.768116,355.142232,대상홀딩스우,per_240,2,False
37,2024-01-05 00:00:00+00:00,080220,65.357143,347.342995,271.514544,300.865801,368.268015,제주반도체,per_240,3,False
38,2024-01-05 00:00:00+00:00,253590,170.44335,182.989691,166.828676,269.69697,197.964722,네오셈,per_240,4,False
39,2024-01-05 00:00:00+00:00,450080,43.366619,251.398601,251.398601,251.398601,251.398601,에코프로머티,per_240,5,False
40,2024-01-05 00:00:00+00:00,016710,0.0,-15.371477,-31.466113,-56.819172,-91.112108,대성홀딩스,per_365,1,True
41,2024-01-05 00:00:00+00:00,035290,-1.545595,-22.031824,-61.205847,-93.480041,-89.017241,골드앤에스,per_365,2,True
42,2024-01-05 00:00:00+00:00,214870,0.0,0.0,0.0,0.0,-87.921397,뉴지랩파마,per_365,3,True
43,2024-01-05 00:00:00+00:00,017390,2.5,-3.605016,-9.956076,-33.152174,-85.990888,서울가스,per_365,4,True
44,2024-01-05 00:00:00+00:00,001070,-1.353014,-15.221987,-37.636081,-84.839319,-84.457364,대한방직,per_365,5,True
45,2024-01-05 00:00:00+00:00,022100,26.086957,21.314741,141.188119,413.924051,875.961538,포스코DX,per_365,1,False
46,2024-01-05 00:00:00+00:00,322510,-13.461538,-9.192825,-7.110092,231.423895,484.415584,제이엘케이,per_365,2,False
47,2024-01-05 00:00:00+00:00,002710,0.732601,-6.937394,6.177606,69.491525,467.010309,TCC스틸,per_365,3,False
48,2024-01-05 00:00:00+00:00,007660,-2.226027,0.528169,-11.746522,215.818584,375.833333,이수페타시스,per_365,4,False
49,2024-01-05 00:00:00+00:00,080220,65.357143,347.342995,271.514544,300.865801,368.268015,제주반도체,per_365,5,False